<br>
<h5>Albums</h5>
<div class="mid-row">
  <div class="content-row">
    <div class="into-row">
      <ul id="list-albums">
        <li>
          {% for album in album1 %}
          <div class="class1list">{{ album.name }}</div>
          <div class="class2list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Ver</a></div>
          <div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Reproducir</a></div>
          {% endfor %}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mid-row">
  <div class="content-row">
    <div class="into-row">
      <ul id="list-albums">
        <li>
          {% for album in album2 %}
          <div class="class1list">{{ album.name }}</div>
          <div class="class2list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Ver</a></div>
          <div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Reproducir</a></div>
          {% endfor %}
        </li>
      </ul>
    </div>
  </div>
</div>

<center>
  <ul class="pagination pagination-centered page-artist">
    {% if page_obj.has_previous %}
      <li><a href="javascript:void(0);" class="btn btn-block btn-lg btn-primary btn-page" data-page="{{ request.path }}?page=1">&lt;&lt;</a></li>
      <li><a href="javascript:void(0);" class="btn btn-block btn-lg btn-primary btn-page" data-page="{{ request.path }}?page={{ page_obj.previous_page_number }}">&lt;</a></li>
    {% endif %}

    {% for i in paginator.page_range %}
      <li {% if page_obj.number == i %} class="active" {% endif %}><a href="javascript:void(0);" class="btn btn-block btn-lg btn-primary btn-page" data-page="{{ request.path }}?page={{i}}">{{ i }}</a></li>
    {% endfor %}

    {% if page_obj.has_next %}
      <li><a href="javascript:void(0);" class="btn btn-block btn-lg btn-primary btn-page" data-page="{{ request.path }}?page={{ page_obj.next_page_number }}">></a></li>
      <li><a href="javascript:void(0);" class="btn btn-block btn-lg btn-primary btn-page" data-page="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">>></a></li>
    {% endif %}
  </ul>
</center>
<style type="text/css">
  .page-artist{
    background: #C2C7CB
  }
</style>
