{% load back_tags thumbnail %}
<h2 class="discover">Artistas: </h2>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="abc">
  {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
  <div><a href="javascript:void(0);" data-href="{% url 'frontend:get_artist' letter %}" style="color: inherit;" class="btn-href">{{ letter }}</a></div>
  {% endfor %}
</div>
<center>
  <div id="banner-horizontal">
    728x90
  </div>
</center>

<center>  
  <ul class="pagination pagination-centered page-artist">
    {% if page_obj.has_previous %}
      <li><a href="javascript:void(0);" class="btn-page" data-page="{{ request.path }}?page=1">&lt;&lt;</a></li>   
      <li><a href="javascript:void(0);" class="btn-page" data-page="{{ request.path }}?{{ page_obj.previous_page_number.querystring }}">&lt;</a></li>
    {% endif %}
    
    {% for page in page_obj.pages %}
      {% if page %}
        {% ifequal page page_obj.number %}
          <li class="active" ><a href="javascript:void(0);" class="btn-page">{{ page }}</a></li>
        {% else %}
          <li><a href="javascript:void(0);" class="btn-page" data-page="{{ request.path }}?{{ page.querystring }}">{{ page }}</a></li>
        {% endifequal %}
      {% else %}
        <li><a>...</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li><a href="javascript:void(0);" class="btn-page" data-page="{{ request.path }}?{{ page_obj.next_page_number.querystring }}">></a></li>
      <li><a href="javascript:void(0);" class="btn-page" data-page="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">>></a></li>
    {% endif %}
  </ul>
</center>

<div id="articles" class="row demo-tiles">

  {% for artist in artist_list %}

    <div class="article-genere">
      <div class="container-genere">
        {% if artist.image %}
          <img class="img" src="{% thumbnail artist.image 250x250 crop='smart' %}" alt="">
        {% else %}
          <img class="img1" src="/static/img/artista.png" width="250" height="250" />
        {% endif %}
        <br>
        <span class="name">{{ artist.name }}</span> <br>
        <span class="genere">Genero: {{ artist.genre_set.all|clean_genres }}</span><br>
        {# <span class="repro">122 reproducciones</span> #}
        <br><br>
        <div id="controls-albums">
          <a href="javascript:void(0)" data-play="{{ artist.pk}}" class="btn btn-block btn-lg btn-primary pk_artist play">Play</a>
          <a data-see="{% url 'frontend:see_artist' artist.pk %}"  href="javascript:void(0);" class="btn btn-block btn-lg btn-primary see_artist">Ver</a>
          <a data-video="{%  url 'frontend:videos' artist.pk %}"  href="javascript:void(0);" data-pk="{{ artist.pk }}" class="btn btn-block btn-lg btn-primary see_video videos">Videos</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<center>  
  <ul class="pagination pagination-centered page-artist">
    {% if page_obj.has_previous %}
      <li><a href="javascript:void(0);" class="btn-page" data-page="{{ request.path }}?page=1">&lt;&lt;</a></li>   
      <li><a href="javascript:void(0);" class="btn-page" data-page="{{ request.path }}?{{ page_obj.previous_page_number.querystring }}">&lt;</a></li>
    {% endif %}
    
    {% for page in page_obj.pages %}
      {% if page %}
        {% ifequal page page_obj.number %}
          <li class="active" ><a href="javascript:void(0);" class="btn-page">{{ page }}</a></li>
        {% else %}
          <li><a href="javascript:void(0);" class="btn-page" data-page="{{ request.path }}?{{ page.querystring }}">{{ page }}</a></li>
        {% endifequal %}
      {% else %}
        <li><a>...</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li><a href="javascript:void(0);" class="btn-page" data-page="{{ request.path }}?{{ page_obj.next_page_number.querystring }}">></a></li>
      <li><a href="javascript:void(0);" class="btn-page" data-page="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">>></a></li>
    {% endif %}
  </ul>
</center>
<style type="text/css">
  .page-artist{
    background: #C2C7CB
  }
</style>

<div id="activity">
  <center>
    <div id="banner-horizontal">
      728x90
    </div>
  </center>
</div>

<script>

  $(document).on('click', '.see_artist', function(){
    var href = $(this).data('see');
    $('#body-container').load(href);
    $("html, body").animate({ scrollTop: 0 }, "slow");
  });

  $(document).on('click', '.see_video', function(){
    var href = $(this).data('video');
    $('#body-container').load(href);
    $("html, body").animate({ scrollTop: 0 }, "slow");
  });

</script>

