{% load back_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hizpana</title>
    <meta name="description" content="Musica Online Gratis, Musica en Español, Musica en Ingles, Cumbia, Ver Videos, Descarga Canciones Completas, Hizpana.com es la mejor plataforma para poder escuchar musica online"/>
    <meta name="keywords" content="musica online gratis, canciones, reproductor, musica español, musica en ingles, cancines en español, cancines en ingles, ver videos, cumbia, reggaeton, electronica, rock, alternativo, cumbia colombiana, cumbia peruana, cumbia chilena, cumbia argentina, electro house, pop, romantica, cristianas, salsa, rock peruano, latinoamericana"/>
    <link href="{{ STATIC_URL }}css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/flat-ui.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jPlayer.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/skin/pink.flag/css/jplayer.pink.flag.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jquery.bxslider.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <script src="{{ STATIC_URL }}js/vendor/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/video.js"></script>
    <script src="{{ STATIC_URL }}js/flat-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/jplayer/jquery.jplayer.min.js"></script>
    <script src="{{ STATIC_URL }}js/add-on/jplayer.playlist.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.bxslider.min.js"></script>
  <link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet" />
  <script src="{{ STATIC_URL }}js/select2.min.js"></script>
  <script src="{{ STATIC_URL }}js/select2_locale_es.js"></script>
    <script src="{{ STATIC_URL }}js/scripts.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.14/jquery.scrollTo.min.js"></script>

  <script type="text/javascript">
    var URL_get_songs_counter_ajax = /get_songs_counter_ajax/;
    var global_add_song;
    var songs_counter = {};
    var song_ended = '';

    function menu_go_left()
    {
      $("#sidebar-menu").animate({left:-210});
      $(".bx-prev").hide();
    }

    $(document).ready(function(){
      var icon ="<div style=\"margin-left:45%; margin-top:25%;\">"+
                  "<i class=\"fa fa-spinner fa-spin fa-5x\" ></i>"+
                "</div>";

      setTimeout(function(){
      /*$('#body-container').html(icon);*/
      $("#body-container").load("{% url 'frontend:index' %}");
      },3000);

      /******(S)links to all page inside depends the code html of base.html all links to not reload the page, and the music !!! ******/
      $('.btn-hispana').click(function(){
        $("#list-menu").find("a").removeClass("selected");
        $("#start").addClass("selected");
        $('#body-container').html(icon);
        $("#body-container").load("{% url 'frontend:index' %}");          
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });      
      $('#start').click(function(){
        console.log("hey_ index");
        $("#list-menu").find("a").removeClass("selected");
        $("#start").addClass("selected");
        $('#body-container').html(icon);
        $("#body-container").load("{% url 'frontend:index' %}");          
        $("html, body").animate({ scrollTop: 0 }, "slow");
        menu_go_left();
      });
      $('#genres_list').click(function(){
        $("#list-menu").find("a").removeClass("selected");
        $("#genres_list").addClass("selected");
        $('#body-container').html(icon);
        $("#body-container").load("{% url 'frontend:genres' %}");
        $("html, body").animate({ scrollTop: 0 }, "slow");
        menu_go_left();        
      });
      $('#artists_list').click(function(){
        $("#list-menu").find("a").removeClass("selected");
        $("#artists_list").addClass("selected");       
        $('#body-container').html(icon);
        $("#body-container").load("{% url 'frontend:artists' %}");
        $("html, body").animate({ scrollTop: 0 }, "slow");
        menu_go_left();        
      });
      $('.btn-panel').click(function(){
        $("#list-menu").find("a").removeClass("selected");
        $(".btn-panel").addClass("selected");
        $('#body-container').html(icon);
        var panel = $(this).data('panel')
        $("#body-container").load(panel);
        $("html, body").animate({ scrollTop: 0 }, "slow");
        menu_go_left();
      });
      /******(E)links to all page inside depends the code html of base.html all links to not reload the page, and the music !!! ******/

      var jplayer = new jPlayerPlaylist({
          jPlayer: "#jquery_jplayer_1",
          cssSelectorAncestor: "#jp_container_1",
      },[
      {% for song in list_songs|shuffle %}
        {
          title:"{{ song.original_title|capfirst|truncatewords:7 }}",
          artist:"{{ song.artist.name|capfirst }}",
          mp3:"{{ song.url }}",
          poster:"{{ song.artist.image }}",
          oga:"{{ song.pk }}", //this field to set pk of artist and get
                                      //lyrics
          free: "{{song.show_ringtone}}", 
        },
      {% endfor %}
      ], {
          volume:0.8,
          playlistOptions: {
            autoPlay: true,
          },
          swfPath: "../dist/jplayer",
          supplied: "mp3",
          wmode: "window",
          useStateClassSkin: true,
          autoBlur: false,
          smoothPlayBar: true,
          keyEnabled: true,
          ready : function(){
            {% if request.user.is_authenticated %}
            $(".jp-artist-one").after('<a class="add" title="Agrega esta canción a una lista de reproducción personalizada!">+</a>');
            {% else %}
            $(".jp-artist-one").after('<a class="add_not" title="Inicia sesión para poder agregar esta canción a tus listas!">+</a>');
            {% endif %}
            $(".jp-previous").html("<span class='glyphicon glyphicon-backward' aria-hidden='true'></span>");
            $(".jp-play").html("<span class='glyphicon glyphicon-play' aria-hidden='true'></span>");
            $(".jp-stop").html("<span class='glyphicon glyphicon-stop' aria-hidden='true'></span>");
            $(".jp-next").html("<span class='glyphicon glyphicon-forward' aria-hidden='true'></span>");
            $(".jp-shuffle").hide();            
            $(".jp-free-media").hide();
          },
          play:function() {
            $(".jp-play").html("<span class='glyphicon glyphicon-pause' aria-hidden='true'></span>");
          },
          pause:function() {
            $(".jp-play").html("<span class='glyphicon glyphicon-play' aria-hidden='true'></span>");
          },
      });

      /******(S)to set image and lyric of song in reproductor when the song is
       played ****************************************************************/
      jQuery("#jquery_jplayer_1").bind(jQuery.jPlayer.event.play, function(event)
      {
        var current = jplayer.current,
        playlist = jplayer.playlist;
        jQuery.each(playlist, function (index, obj){
          if (index == current){
            $(".title").text(obj.title);
            $("#title_input").val(obj.title);
            $(".artist").text(obj.artist);
            $("#artist_input").val(obj.artist);
            $("#letter-title").text(obj.title);
            $("#url_input").val(obj.mp3);
            $("#free_input").val(obj.free);
            pk_vector = obj.oga.split("/");
            var song_id = pk_vector[pk_vector.length-1];//in this variable we get id_song
            song_ended = song_id.toString();            
            lyric_song = get_id_song(song_id);
            $('#explicit_letter').text(lyric_song);

            if(obj.poster.length>0){
              $("#poster").attr('src','media/'+obj.poster);
            }
            else{
              $("#poster").attr('src',"{{ STATIC_URL }}img/artista.png");
            }
          }
        });
      });
      /******(E)to set image and lyric of song in reproductor when the song is
       played ****************************************************************/
      

      /****(S)this work getting the id of song and updating how many time was 
      played the song in a dict: ex. {'1234':1, '2123':2, '1431':1}) *******/
      jQuery("#jquery_jplayer_1").bind(jQuery.jPlayer.event.ended, function(event)
      {
        var current = jplayer.current,
        playlist = jplayer.playlist;

        jQuery.each(playlist, function (index, obj){
          if (index == current){
            var song_id_l = song_ended;
            function create_dic(song_id){
              if (songs_counter[song_id.toString()]){                
                songs_counter[song_id.toString()] = songs_counter[song_id.toString()] + 1;
              }
              else{
                songs_counter[song_id.toString()] = 1;                
              }
            }
            create_dic(song_id_l);
          }
        });
      });
      /****(E)this work getting the id of song and updating how many time was 
      played the song in a dict: ex. {'1234':1, '2123':2, '1431':1}) *******/


      /******(S)send data of songs_counter ex. {'1234':1, '2123':2, '1431':1}) to ajax view to update number_of_reproduction of song ******************/
      $(window).bind("beforeunload", function() {         
        var songs_counter_json = JSON.stringify(songs_counter);
        if(songs_counter_json.length > 0){
          $.ajax({
            type: 'POST',
            url: URL_get_songs_counter_ajax,
            data: {dic_songs_counter: songs_counter_json},
            async: false,
          })          
          .fail(function() {
            console.log( "error" );
          })
          .always(function() {
            console.log( "finished" );
          });          
        }

      });
      /******(S)send data of songs_counter ex. {'1234':1, '2123':2, '1431':1}) to ajax view to update number_of_reproduction of song ******************/


      $(document).on('click', '.song_current', function(){
        var pk_song = $(this).find("#pk_song").val();
        var song_name = $(this).find("#title_song").val();
        var url_song = $(this).find("#url_song").val();
        var artist_song = $(this).find("#artist_song").val();
        var image_song = $(this).find("#image_song").val();
        var free_song = $(this).find("#free_song").val();        

        jplayer.add({
          oga: pk_song,
          title: song_name,
          artist: artist_song,
          mp3: url_song,
          poster: image_song,
          free: free_song,
        },true);

        {% if request.user.is_authenticated %}
          $(".jp-playlist-current > .jp-artist-one").after('<a class="add" title="Agrega esta canción a una lista de reproducción personalizada!">+</a>');
        {% else %}
          $(".jp-playlist-current > .jp-artist-one").after('<a class="add_not" title="Inicia sesión para poder agregar esta canción a tus listas!">+</a>');
        {% endif %}
        $(".jp-free-media").hide();

        $('body').scrollTo('#to_reproductor',1000);
        $(".jp-playlist > ul").animate({ scrollTop: $(document).height() }, "slow");
        
      });

      global_add_song = function add_song(type){
        jplayer.add({
            duration: type.id,
            title: type.text,
            artist: type.artist,
            mp3: type.mp3,
            poster: type.poster,
            free: type.free,
          },true);

          {% if request.user.is_authenticated %}
            $(".jp-playlist-current > .jp-artist-one").after('<a class="add" title="Agrega esta canción a una lista de reproducción personalizada!">+</a>');
          {% else %}
            $(".jp-playlist-current > .jp-artist-one").after('<a class="add_not" title="Inicia sesión para poder agregar esta canción a tus listas!">+</a>');
          {% endif %}
          $(".jp-free-media").hide();

          $('body').scrollTo('#to_reproductor',1000);
          $(".jp-playlist > ul").animate({ scrollTop: $(document).height() }, "slow");
      } 

      /*************(S)set songs from artist or album of userindex_pos in reproductor************************************************/
      
      $(document).on('click', ".pk_artist, .pk_album, .pk_list",function(){
        var class_type = $(this).attr('class');
        var URL_SETTED;
        var DATA_SETTED;
        if(class_type.search(/\bpk_album\b/) > 0){//(appear modal)
          console.log("album");
          pk_album = $(this).data('album-artist');
          pk_artist = $(this).data('artist-album-pk');          
          URL_SETTED = URL_GET_ALBUM;
          DATA_SETTED = {pk_album: pk_album, pk_artist: pk_artist};
          mess_empty_list ="No existen Canciones para esté álbum";
        }
        else if(class_type.search(/\bpk_artist\b/) > 0){          
          var pk_artist = $(this).data("play");
          URL_SETTED =  URL_GET_SONGS_ARTIST;
          DATA_SETTED = {pk_artist: pk_artist};
          mess_empty_list = "Este artista aún no tiene canciones asignadas"
        }
        else if(class_type.search(/\bpk_list\b/) > 0){          
          pk_list = $(this).data('album-artist');
          pk_user = $(this).data('artist-album-pk');
          URL_SETTED = URL_GET_LIST;
          DATA_SETTED = {pk_list: pk_list, pk_user: pk_user};
          mess_empty_list ="No existen Canciones para esta Lista";
        }
        $.ajax({
            type: 'POST',
            url: URL_SETTED,
            data: DATA_SETTED,
            async: false,
          })
          .done(function(res){
            $("html, body").animate({ scrollTop: 0 }, "slow");
            console.log("res.answer ", res.data);
            if(res.data === "empty" ){
              create_message(mess_empty_list, $("#message_super"));
            }
            else{
              var playlistt = [];
              $.each(res, function(key,value) {
                playlistt[playlistt.length] = value;
              });

              function function1(playlistt, callback) {
                jplayer.setPlaylist(playlistt);
                callback();
              }
              function function2(){
                {% if request.user.is_authenticated %}
                $(".jp-artist-one").after('<a class="add" title="Agrega esta canción a una lista de reproducción personalizada!">+</a>');
                {% else %}
                $(".jp-artist-one").after('<a class="add_not" title="Inicia sesión para poder agregar esta canción a tus listas!">+</a>');
                {% endif %}
                $(".jp-free-media").hide();
              }

              function1(playlistt, function() {
                setTimeout(function2, 1000);
              });

            }
          })
          .fail(function(){
            console.log( "error" );
          })
          .always(function(){
            console.log( "finished" );

        });
      });
      /*************(E)set songs from artist index_pos in reproductor********
       *********************************************************************/      

    });

      
  </script>
  <script src="http://malsup.github.com/jquery.form.js"></script>

</head>
<body>
  <div class="row demo-row">
    <div class="col-xs-12">
      <nav class="navbar navbar-inverse navbar-embossed" role="navigation">

        <div class="navbar-header">
          <span id="fui-list" class="fui-list navbar-brand"></span>
          <a class="navbar-brand btn-hispana" href="javascript:void(0);" >  Hizpana</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-01">
          {% if request.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
              {% if request.user.email %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{ request.user.email }} <b class="caret"></b></a>
              {% else %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{ request.user.username }} <b class="caret"></b></a>
              {% endif %}
              <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu">
                  <li>
                  <a href="javascript:void(0);" class="btn-panel" data-panel="{% url 'frontend:perfil' %}">Mi Perfil</a>
                  </li>
                  <li><a href="{% url 'accounts:logout' %}">Cerrar sesión</a></li>
                </ul>
              </li>
              <li>
              {% if request.user.userprofile.get_picture %}
                <img class="img-navbar" src="{{ request.user.userprofile.get_picture|drop_media }} " alt="">
              </li>
              {% else %}
                <img class="img-navbar" src="{{ STATIC_URL }}img/avatar{{ user.userprofile.avatar }}.jpg" alt="">
              
              {% endif %}
            </ul>
          {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li>
              <a href="{% url 'accounts:login' %}" class="dropdown-toggle">
              Inicia Sesión
              </a>
              </li>
              <li >
              <a href="{% url 'accounts:register' %}" class="dropdown-toggle">
              Registrate
              </a>
              </li>
            </ul>
          {% endif %}
           <form class="navbar-form navbar-left" action="#" role="search">
            <div class="form-group">
              <div class="input-group">
                <input class="find-field" id="navbarInput-01" style="width: 300px; margin-top:2%;">
                </input>
                <!-- <select class="form-control find-field" ></select> -->
                <!-- <span class="input-group-btn">
                  <button type="submit" class="btn" data-find="url 'frontend:find' "><span class="fui-search"></span></button>
                </span> -->
              </div>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </div>


  <div id="sidebar-menu">
    <div class="logo-container">
      <img class="logo" src="" alt="">
    </div>

    <ul id="list-menu">
      <li>
        <a href="javascript:void(0);" class="selected" id="start"> <span class="fui-home"></span> Inicio</a>
      </li>
      {% if request.user.is_authenticated %}
      <li>
        <a href="javascript:void(0);" class="btn-panel" data-panel="{% url 'frontend:perfil' %}"> <span class="fui-gear"></span>Mi panel</a>
      </li>
      {% endif %}
      <li>
        <a href="javascript:void(0);" id="genres_list"> <span class="fui-list-numbered"></span>Generos</a>
      </li>
      <li>
        <a  href="javascript:void(0);" id="artists_list"><span class="fui-list-thumbnailed"></span>Artistas</a>
      </li>
    </ul>
  </div>


<div id="container-hispana">
  <div id="message_super" style="display: none; position: fixed; z-index: 1000;">
  </div>
  {% if messages %}
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
     {% for message in messages %}
      <i class="fa fa-info-circle"></i>  <strong {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
    {% endfor %}
  </div>
  {% endif %}
  <div id="body-container" >
    <div style="margin-left:45%; margin-top:25%;">
      <i class="fa fa-spinner fa-spin fa-5x" ></i>    
    </div>
  </div>

  <div id="player-container">


    <div id="data-player">
      <img id="poster"  alt="">
      <div id="info-player">
        <div class="title"></div>
        <input type="text" id="title_input" hidden="hidden" value="">
        <div class="artist"></div>
        <input type="text" id="artist_input" hidden="hidden" value="">
        <input type="text" id="url_input" hidden="hidden" value="">
        <input type="text" id="free_input" hidden="hidden" value="">
        <div class="options">
          <a href="javascript:void(0)">
            <span class="tag label label-info download">Descargar | <i class="fa fa-arrow-down"></i></span>
          </a>
          <a href="javascript:void(0)">
            <span class="tag label label-info ringtone">Enviar Ringtone | <i class="fa fa-music"></i></span>
          </a>
        </div>
      </div>

      <div class="donwload-ringtone">
        <a href="">Descargar Tono <span class="title"></span> a tu movil</a>
      </div>
    </div>

    <div id="jquery_jplayer_1" class="jp-jplayer"></div>

    <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
      <div class="jp-type-playlist">
        <div class="jp-gui jp-interface">
          <div class="jp-volume-controls">
            <button class="jp-mute" role="button" tabindex="0">mute</button>
            <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
            <div class="jp-volume-bar">
              <div class="jp-volume-bar-value"></div>
            </div>
          </div>
          <div class="jp-controls-holder">
            <div class="jp-controls">
              <button class="jp-previous" role="button" tabindex="0">previous</button>
              <button class="jp-play" role="button" tabindex="0">play</button>
              <button class="jp-stop" role="button" tabindex="0">stop</button>
              <button class="jp-next" role="button" tabindex="0">next</button>
            </div>
            <div class="jp-progress">
              <div class="jp-seek-bar">
                <div class="jp-play-bar"></div>
              </div>
            </div>
            <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
            <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
            <div class="jp-toggles">
              <button class="jp-repeat" role="button" tabindex="0">repeat</button>
              <button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
            </div>
          </div>
        </div>
        <div class="jp-playlist">
          <ul>
            <li>&nbsp;</li>
          </ul>
        </div>
        <div class="jp-no-solution">
          <span>Update Required</span>
          To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
      </div>
    </div>

    <div id="social-networks">
        <div id="face-button">
           <div class="fb-like fb_iframe_widget" data-href="http://www.doramastv.net/trot-lovers/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;href=http%3A%2F%2Fwww.doramastv.net%2Ftrot-lovers%2F&amp;layout=button_count&amp;locale=es_LA&amp;sdk=joey&amp;share=false&amp;show_faces=true"><span style="vertical-align: bottom; width: 102px; height: 20px;"><iframe name="f2175df96" width="1000px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/v2.0/plugins/like.php?action=like&amp;app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FDU1Ia251o0y.js%3Fversion%3D41%23cb%3Df36d3570a8%26domain%3Dwww.doramastv.net%26origin%3Dhttp%253A%252F%252Fwww.doramastv.net%252Ff20eb6759%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fwww.doramastv.net%2Ftrot-lovers%2F&amp;layout=button_count&amp;locale=es_LA&amp;sdk=joey&amp;share=false&amp;show_faces=true" style="border: none; visibility: visible; width: 102px; height: 20px;" class=""></iframe></span></div>
        </div>
        <div id="gplus">
          <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 106px; height: 24px; background: transparent;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 106px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 24px;" tabindex="0" vspace="0" width="100%" id="I0_1422727618047" name="I0_1422727618047" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;hl=es&amp;origin=http%3A%2F%2Fwww.doramastv.net&amp;url=http%3A%2F%2Fwww.doramastv.net%2Ftrot-lovers%2F&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.es.wp9nWcY6VCg.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Ft%3Dzcms%2Frs%3DAGLTcCMFZCf3HJWNe6vkh2x4iNn8sCL7zQ#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1422727618047&amp;parent=http%3A%2F%2Fwww.doramastv.net&amp;pfname=&amp;rpctoken=22331014" data-gapiattached="true" title="+1"></iframe></div>
      </div>

        <div id="twitter-button">
          <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/tweet_button.67ae45a68af44ab435dd5797206058d3.en.html#_=1422727618700&amp;count=horizontal&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.doramastv.net%2Ftrot-lovers%2F&amp;size=m&amp;text=Trot%20Lovers%20Sub%20Espa%C3%B1ol%20Online%20Gratis&amp;url=http%3A%2F%2Fwww.doramastv.net%2Ftrot-lovers%2F" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 107px; height: 20px;"></iframe>
        </div>
        <script type="text/javascript">
        window.twttr = (function (d, s, id) {
          var t, js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src= "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
          return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
        }(document, "script", "twitter-wjs"));
        </script>

        <style type="text/css">
          #social-networks{
            width: 100%;
            font-size: 0;
          }
          #face-button{
            display: inline-block;
            width: 32%;
            margin-left: 10px;
          }
          #twitter-button{
            display: inline-block;
            width: 20%;
            float: right;
            padding-top: 12px;
            margin-right: 10%;
          }
          #gplus{
            display: inline-block;
            margin-top: 10px;
            width: 20%;
            margin-left: 7%;
          }
          #gplus iframe{
            width: 70px !important;
          }
        </style>

      </div>

    <div id="letter-title">

    </div>
    <div id="letter">

      <div id="explicit_letter">

      </div>
    </div>
      <br>
      <br>
      <br>
  </div>
</div>

<footer >

  <div id="container-footer">
    <div class="parts">
      <div class="tittleFooter">Enlaces rapidos</div>
    </div>
    <div class="parts">
      <div class="tittleFooter">Acerca de:</div>
    </div>
    <div class="parts">
      <div class="tittleFooter">Buscanos en:</div>
      <div class="row">
        <div class="col-md-2">
          <a href="//www.facebook.com/" target="_blank">
            <img class="social-network" src="{{ STATIC_URL }}img/login/facebook-128.png">
          </a>
        </div>
        <div class="col-md-2">
          <a href="//www.twitter.com" target="_blank">
            <img class="social-network" src="{{ STATIC_URL }}img/login/twitter-128.png">
          </a>
        </div>
        <div class="col-md-2">
          <a href="//www.youtube.com/" target="_blank">
            <img class="social-network" src="{{ STATIC_URL }}img/login/youtube-128.png">
          </a>
        </div>
      </div>
    </div>
    <div class="line" style="height:20px;float:left;width:100%;">
    </div>
  </div>
</footer>

  <!-- (S)Modal (playlist)-->
  <div class="modal fade" id="myModal" data-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" style="font-weight:normal; " >
            Canción <span id="title_songs" style="font-weight:bold; color:#34495E"></span> de
            <span id="title_artist" style="font-weight:bold; color:#34495E"></span>
          </h5>
        </div>
        <div class="modal-body">
        <div id="div_select_playlist_error">
        </div>
          <h4 class="modal-title" >Busca las Listas donde se agregará esta canción:</h4>
          <div id="div_select_playlist">
            <select id="select_playlist" multiple="multiple" style="width:100%">
            </select>
          </div>
          <h7 style="font-size: 12px;"class="modal-title" >Puedes agregar la canción a varias listas, solo selecciona la lista luego de buscar</h7>
        </div>
        <hr>
        <div class="modal-body">
          <h4 class="modal-title" >Crear Lista de Reproducción:</h4>
          <div id="row">
            <div class="col-md-9" >
              <input type="text" id="create_list_input" class="form-control" value="" placeholder="Ingresa el nombre de tu nueva lista">
            </div>
            <div class="col-md-1">
              <a  class="btn btn-primary create_list" >Crear Lista</a>
            </div>
          </div>
        </div>
        <hr>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary save_list">Agregar Canción a Lista(s)</button>
        </div>
      </div>
    </div>
  </div>
  <!-- (E)Modal(playlist) -->

  <!-- (S)Modal (playlist)-->
  <div class="modal fade" id="myList" data-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <br>          
        </div>
        
        <div class="modal-body">
          <h4 class="modal-title" >Crear Lista de Reproducción:</h4>
          <div id="row">
            <div class="col-md-12" >
              <input type="text" id="list_input" class="form-control" value="" placeholder="Ingresa el nombre de tu nueva lista">
            </div>            
          </div>
        </div>
        <hr>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary save_list_alone">Crear Lista</button>
        </div>
      </div>
    </div>
  </div>
  <!-- (E)Modal(playlist) -->

  <!-- (S)Modal (albums)-->
  <div class="modal fade" id="myAlbum" data-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" style="font-weight:normal; " >
            Albúm <span aria-hidden="true" class="name_album"></span>
          </h5>
        </div>
        <div class="modal-body">        
          <ul id="top-list" class="album_list">            
                        
          </ul>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <!-- (E)Modal(albums) -->
  <!--<script src='{{ STATIC_URL }}js/bootstrap.min.js'></script>-->

<script>
  var URL_SET_DATA_ARTIST = /set_playlist_ajax/;
  var URL_GET_DATA_ARTIST = /get_playlist_ajax/;
  var URL_GET_LYRIC = /get_lyric_ajax/;
  var URL_GET_SONGS_ARTIST = /get_songs_artist_ajax/;
  var url_search = /find_fields_ajax/;
  var URL_GET_ALBUM = /get_album_ajax/;
  var URL_GET_LIST = /get_list_ajax/;
  var URL_CREATE_PLAYLIST = /create_playlist_ajax/;
  var URL_delete_playlist = /delete_playlist_ajax/;
  var URL_delete_song_ajax = /delete_song_ajax/;

  var icon ="<div style=\"margin-left:45%; margin-top:25%;\">"+
                  "<i class=\"fa fa-spinner fa-spin fa-5x\" ></i>"+
                "</div>";

  $(document).on('click', '.btn-href', function(){
    var href = $(this).data('href');
    $("html, body").animate({ scrollTop: 0 }, "slow");
    $('#body-container').html(icon);
    $('#body-container').load(href);
  });

  $(document).on('click', '.btn-page', function(){
    var page = $(this).data('page');    
    $('#body-container').load(page);
  });

  $(document).on('click', '.see_artist', function(){
    var href = $(this).data('see');
    $("html, body").animate({ scrollTop: 0 }, "slow", function(){
      $('#body-container').html(icon);
      $('#body-container').load(href);
    });
  });

  function create_message(messages, div_options)
  {
    var message = "<div class=\"alert alert-success alert-dismissable\">" +
    "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" "+
    "aria-hidden=\"true\">&times;</button> " +
    "<i class=\"fa fa-info-circle\"></i> "+
    " <strong>" + messages +
    "</strong></div>";
    div_options.append(message).show('slow');
  }

/********************(S) ALL WORK TO ADD SONG TO PLAYLIST (REPRO) ***********
******************************************************************************/
/*************(S) GET Lists of user from REPRODUCTOR and NORMAL **************/
  var song_total = Array();
  var selector_total;
  var options = $("#select_playlist");
  var div_options = $("#div_select_playlist_error");

  $(document).on('click', '.add_normal, .add', function(){
    var class_type = $(this).attr('class');
    $('#myModal').modal();
    if(class_type.search(/\badd\b/) != -1){//(REPRODUCTOR)
      var song = [$(this).parent().children(".jp-artist-one").text(),
                  $(this).parent().children(".jp-artist").text()] ;
      /*song = song.split("by");*/
      console.log("song: ", song);
      song_total = song;
      $("#title_songs").text(song[0]);
      $("#title_artist").text(song[1]);
    }
    else{//(NORMAL)
      var title_artist = $(this).find("#artist_plus_variable").val();
      var title_songs = $(this).find("#song_plus_variable").val();      
      song_total = [title_songs, title_artist];
      $("#title_songs").text(title_songs);
      $("#title_artist").text(title_artist);
    }
    $("#select_playlist option").remove();

    $.ajax({
      type: 'POST',
      url: URL_GET_DATA_ARTIST,
      async: false,
    })
    .done(function(res) {
      if(res.data === "empty"){
        mess_empty_list ="No existen Listas, crea una lista para continuar";
        create_message(mess_empty_list, div_options);
      }else{
        $.each(res, function(key,value) {
          options.append("<option value=\""+value+"\">"+value+"</option>");
        });
      }
    })
    .fail(function() {
      console.log( "error" );
    })
    .always(function() {
      console.log( "finished" );
    });
  });
/*************(E) GET Lists of user from REPRODUCTOR and NORMAL **************/
/****************(S) Create List to selec2 **************/
  $('#select_playlist').select2();
  function adding_list(select_div, value)
  {
    select_div.append("<option value=\""+value+"\">"+value+"</option>");
    return select_div;
  }
  var input_list;
  $('#create_list_input').keyup(function(){
    input_list = $(this).val();
  });

  $('.create_list').click(function(){
    if(input_list === undefined)
    {
      mmessage = "Ingresa correctamente una Lista para ser creada!";
      create_message(mmessage, div_options);
    }
    else{
      selector_total = adding_list(options, input_list);
      $('#create_list_input').val("");
      mmessage = "Lista Creada!";
      create_message(mmessage, div_options);
    }
  });
/****************(E) Create List to selec2 **************/

/****************(S) SET Lists of user and song ******************/
  $(document).on('click', '.save_list', function(){
    if(options.select2('data').length == 0){
      mmessage = "Por lo menos selecciona una lista para la canción!";
      create_message(mmessage, div_options);
    }
    else{
      array_lists_pre = options.select2('data');
      array_lists = new Array();
      for (var i = array_lists_pre.length - 1; i >= 0; i--){
        array_lists[array_lists.length] = array_lists_pre[i].text;
      };
      console.log("array_lists: ", array_lists);
      var sent_data = {lists: array_lists,
                       song:song_total[0],
                       author:song_total[0] };
      console.log("sent_data ", sent_data);
      $.ajax({
        type: 'POST',
        url: URL_SET_DATA_ARTIST,
        data: sent_data,
        async: false,
      })
      .done(function(res) {
        console.log("res: ", res);
        if(res.data === "full"){
          message_created="Canción fue agregada correctamente a tu(s) lista(s)";
          $('#myModal').modal('hide')
          create_message(message_created, $("#message_super"));
          $("html, body").animate({ scrollTop: 0 }, "slow");
        }
        if(res.data === "empty"){
          message_not_created="Canción no fue agregada correctamente a la(s) lista(s)";
          $("#myModal").modal('hide');
          create_message(message_not_created, $("#message_super"));
          $("html, body").animate({ scrollTop: 0 }, "slow");
        }

      })
      .fail(function() {
        console.log( "error" );
      })
      .always(function() {
        console.log( "finished" );
      });
    }
  });
/****************(E) SET Lists of user and song ******************/

/************************(S) CREATE JUST ONE LIST ***********************/
$(document).on('click', '.new_playlist', function(){  
  $("#myList").modal();
});

$(document).on('click', '.save_list_alone', function(){
  var playlist = $("#list_input").val();
  var pk_user = $(".new_playlist").data('user');
  var url_panel = $(".new_playlist").data('panel');

  $.ajax({
    type: 'POST',
    url: URL_CREATE_PLAYLIST,
    data: {playlist: playlist, pk_user: pk_user },
    async: false,
  })
  .done(function(res) {
    answer = res.created;
    if (answer === "True"){
      $('#body-container').load(url_panel);
      $('#myList').modal('hide');
      create_message("Lista creada correctamente!", $("#message_super"));
      $("html, body").animate({ scrollTop: 0 }, "slow");
    } 
  })
  .fail(function() {
    console.log( "error" );
  })
  .always(function() {
    console.log( "finished" );
  });
});
/************************(E) CREATE JUST ONE LIST ***********************/

/********************(E) ALL WORK TO ADD SONG TO PLAYLIST (REPRO) ***********
******************************************************************************/

/*******************(S) get_id_song to get lyrics via ajax *****************/
function get_id_song(song_id){
  var lyric = "";
  var loading = "<i class=\"fa fa-spinner fa-spin fa-5x\"></i> ";
  $('#load-icon').html(loading);
  $.ajax({
    type: 'POST',
    url: URL_GET_LYRIC,
    data: {song_id: song_id},
    async: false,
  })
  .done(function(res) {
    lyric = res.answer;
    $('#load-icon').hide();
  })
  .fail(function() {
    console.log( "error" );
  })
  .always(function() {
    console.log( "finished" );
  });

  return lyric;
}
/*******************(E) get_id_song to get lyrics via ajax *****************/

/*****************(S)downloads***********************************/
/*<script src='{{ STATIC_URL }}js/bootstrap.min.js'><script>*/
function codeInPopup(data, downloable) {
  sOutput = "<!DOCTYPE html>"+
      "<html lang=\"en\">"+
      "<head>"+
        "<title>Descargar</title>"+
        '<link rel="stylesheet" href="{{ STATIC_URL }}css/popup.css">'+
        "<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/"+
        "bootstrap/3.3.2/css/bootstrap.min.css\">"+
        "<link href=\"{{ STATIC_URL }}css/style.css\" rel=\"stylesheet\">"+
      "</head>"+
      "<body>"+
      "<div class=\"row title-popup\">"+
      "<div class=\"col-xs-offset-5 col-xs-2 discover-popup\">"+
      "Descargar</div>"+
      "</div>"+
      "<div class=\"row artist\">"+
        "<div class=\"col-xs-4 name-popup\">Artista: </div>"+
        "<div class=\"col-xs-8 data-popup\">"+ data[0] +"</div>"+
      "</div>"+
      "<div class=\"row song\">"+
        "<div class=\"col-xs-4 name-popup\">Canción: </div>"+
        "<div class=\"col-xs-8 data-popup\">"+ data[1] +"</div>"+
      "</div>"+
      "<div class=\"row adds\">"+
        "<div class=\"col-xs-4\">"+
          "<div class=\"add\">"+
            "DESCARGAR 1"+
          "</div>"+
        "</div>"+
        "<div class=\"col-xs-4\">"+
        "<a href="+ data[2] + " "+ downloable +" >"+
          "<div class=\"add\">"+
            "DESCARGAR 2"+
          "</div>"+
        "</a>"+
        "</div>"+
        "<div class=\"col-xs-4\">"+
          "<div class=\"add\">"+
            "DESCARGAR 3"+
          "</div>"+
        "</div>"+
      "</div>"+
      "</body>"+
      "</html>";

  var codeWindow = window.open('','codeWindow','height=600,width=600');
  codeWindow.document.write(sOutput);
}

$(document).on('click','.download',function(){
  var artist = $("#artist_input").val();
  var title = $("#title_input").val();
  var url = $("#url_input").val();
  var free = String($("#free_input").val());
  downloable = "download";
  if(free == "true"){
    free = "True";
  }
  if(free !== "True"){
    downloable = ""
    url="#";
  }
  var data = [artist, title, url]
  codeInPopup(data, downloable);
});
/*****************(S)downloads***********************************/

/***********************(S)SEE LIST ALBUM OF ARTIST*************************/
  $(document).on('click', '.see_album, .play_album', function(){
    var class_type = $(this).attr('class');    
    pk_album = $(this).data('album-artist');
    pk_artist = $(this).data('artist-album-pk');
    console.log("pk_album ", pk_album, "pk_artist ", pk_artist);
    $(".name_album").text($(this).data('album-name'));
    $.ajax({
      type: 'POST',
      url: URL_GET_ALBUM,
      data: {pk_album: pk_album, pk_artist: pk_artist},
      async: false,
    })
    .done(function(res) {
      var html_to_modal_album = "";
      if(res.data === "empty"){
        mess_empty_list ="No existen Canciones para esté álbum";
        create_message(mess_empty_list, $("#message_super"));
      }
      else{
        if(class_type.search(/\bplay_album\b/) == -1){//(appear modal)
          $("#myAlbum").modal();
        }

        $('.album_remove').remove();          
        $.each(res, function(key,value) {
        var one_li = "<li class='album_remove'>"+
          "<a href='javascript:void(0);' class='song_current'>"+
            "<input type='text' id='pk_song' hidden='hidden'"+
             "value='"+ value.oga +"'>"+
            "<input type='text' id='title_song' hidden='hidden'"+
             "value='"+ value.title +"'>"+
            "<input type='text' id='artist_song' hidden='hidden'"+
             "value='"+ value.artist +"'>"+
            "<input type='text' id='url_song' hidden='hidden'"+
             "value='"+ value.mp3 +"'>"+
            "<input type='text' id='image_song' hidden='hidden'"+
             "value='"+ value.poster +"'>"+
            "<input type='text' id='free_song' hidden='hidden'"+
             "value='"+ value.free +"'>"+
            "<span class='glyphicon glyphicon-play-circle'"+
             "aria-hidden='true'></span> "+
              (parseInt(key)+1) +": " + value.artist + " - " + value.title +
            "<div class='btn btn-inverse playing'>Reproduciendo</div>"+
          "</a>"+
        "</li>";
        html_to_modal_album = html_to_modal_album + one_li;
        });
        $('.album_list').append(html_to_modal_album);
      }      
    })
    .fail(function() {
      console.log( "error" );
    })
    .always(function() {
      console.log( "finished" );
    });
  });
  
  $(document).on("click", "#top-list li a", function(){
    $(this).parent().parent().find(".playing").removeClass('active');
    $(this).children('.playing').addClass('active');
  });
  /***********************(E)SEE LIST ALBUM OF ARTIST*************************/

  /*******************(S)VIDEOS **********************************************/
  $(document).on('click', '.videos', function(){
    var pk = $(this).data('pk');
    $.ajax({
      type: 'POST',
      url: URL_EXIST_VIDEO,
      data: {pk_artist: pk},
      async: false,
    })
    .done(function(res) {    
      exist = res.data;
      if(exist == "full"){
        var href = $('.videos').data('video');
        $('#body-container').load(href);
        $("html, body").animate({ scrollTop: 0 }, "slow");
      }
      else{
        mmessage = "No existen videos para este artista!";
        create_message(mmessage, DIV_MESSAGE);
      }
      $('#load-icon').hide();
    })
    .fail(function() {
      console.log( "error" );
    })
    .always(function() {
      console.log( "finished" );
    });
  });
  /*******************(S)VIDEOS **********************************************/

  /*******************(S)SEE LIST OF PLAYLIST ******************************/
  /*$(document).on('click', '.see_list, .play_list', function(){*/
    $(document).on('click', '.see_list', function(){
    var class_type = $(this).attr('class');    
    pk_list = $(this).data('album-artist');
    pk_artist = $(this).data('artist-album-pk');
    console.log("pk_list ", pk_list, "pk_artist ", pk_artist);
    $(".name_album").text($(this).data('album-name'));
    $.ajax({
      type: 'POST',
      url: URL_GET_LIST,
      data: {pk_list: pk_list, pk_user: pk_artist},
      async: false,
    })
    .done(function(res) {
      var html_to_modal_album = "";
      if(res.data === "empty"){
        mess_empty_list ="No existen Canciones para esta Lista";
        create_message(mess_empty_list, $("#message_super"));
      }
      else{
        if(class_type.search(/\bplay_list\b/) == -1){//(appear modal)
          $("#myAlbum").modal();
        }
        $('.album_remove').remove();          
        $.each(res, function(key,value) {
          pk_vector = value.oga.split("/");
          var song_id = pk_vector[pk_vector.length-1];//in this variable we get id_song
        var one_li = "<li class='album_remove'>"+
          "<a href='javascript:void(0);' class='song_current'>"+
            "<input type='text' id='pk_song' hidden='hidden'"+
             "value='"+ song_id +"'>"+
            "<input type='text' id='title_song' hidden='hidden'"+
             "value='"+ value.title +"'>"+
            "<input type='text' id='artist_song' hidden='hidden'"+
             "value='"+ value.artist +"'>"+
            "<input type='text' id='url_song' hidden='hidden'"+
             "value='"+ value.mp3 +"'>"+
            "<input type='text' id='image_song' hidden='hidden'"+
             "value='"+ value.poster +"'>"+
            "<input type='text' id='free_song' hidden='hidden'"+
             "value='"+ value.free +"'>"+
            "<input type='text' id='pk_list' hidden='hidden'"+
             "value='"+ pk_list +"'>"+
            "<span class='glyphicon glyphicon-play-circle'"+
             "aria-hidden='true'></span> "+
              (parseInt(key)+1) +": " + value.artist + " - " + value.title +
            "<div class='btn btn-inverse playing'>Reproduciendo</div>"+
          "</a>"+
          "<span class='btn btn-inverse btn-xs glyphicon glyphicon-remove delete-one'></span>"+
        "</li>";
        html_to_modal_album = html_to_modal_album + one_li;
        });
        $('.album_list').append(html_to_modal_album);
      }      
    })
    .fail(function() {
      console.log( "error" );
    })
    .always(function() {
      console.log( "finished" );
    });
  });
    
  $(document).on("click", "#top-list li a", function(){
    $(this).parent().parent().find(".playing").removeClass('active');
    $(this).children('.playing').addClass('active');
  });
  $(document).on("mouseover", ".album_remove", function(){    
    $(this).find(".delete-one").show();
  });
  $(document).on("mouseout", ".album_remove", function(){    
    $(this).find(".delete-one").hide();
  });
  

  /*******************(S)SEE LIST OF PLAYLIST *******************************************/


  $(document).on('click', '.delete-one', function(){
    var $element = $(this);
    if(confirm("¿Estas seguro de querer borrar esta canción?")){      
      var pk_song = $(this).parent().find("#pk_song").val();
      var pk_list = $(this).parent().find("#pk_list").val();
      console.log("pk_song: ", pk_song);
      $.ajax({
        type: 'POST',
        url: URL_delete_song_ajax,
        data: {pk_song: pk_song, pk_playlist: pk_list},
        async: false,
      })
      .done(function(res) {    
        exist = res.data;
        if(exist == "true"){
          console.log("fue borado", $element.parent());
          $element.parent().remove();          
        }
        else{
          mmessage = "No se pudo borrar correctamente, por favor intentetelo nuevamente!";
          create_message(mmessage, DIV_MESSAGE);
        }
        $('#load-icon').hide();
      })
      .fail(function() {
        console.log( "error" );
      })
      .always(function() {
        console.log( "finished" );
      });
    }
  });


/****************(S) Data Find by SEARCH ****************/
  function repoFormatResult(repo){
    var imagen = "";
    var type = "";
    
    if( repo.type ==="artist" ){      
      type = '<div style="margin-top:5%; margin-bottom:5%;"> <div class="span6" style="float: left;"></div>';
      if (repo.imagen.length){       
        imagen = '<img style="float:left; margin-right:2%;" heigth="30" width="23" src="{{ MEDIA_URL }}'+ repo.imagen +'" /> </div>';
      } else{
        imagen = '<img style="float:left; margin-right:2%;" width="30" heigth="30" src="{{ STATIC_URL }}img/artista.png" /> </div>';
      }
    }
    else if( repo.type === "song" ) {
      type = '<div class="span6">' + repo.artist + ' <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> </div>';

    }
    else if( repo.type === "genre" ){
      type = '<div class="span6"> </div>';
    }
    var markup = '<a class="element_search" style="color: black;">'+
      '<div class=\"row-fluid see-artist\" data-see=\"/see_artist/'+
      repo.id +'/" >' +    
     '<div class="span10">'+
        '<div class="row-fluid">'+
        imagen +
        type +
        '<div class="span6">'+ repo.text +'</div>'+                    
      '</div>'+
      '<div id="data-search">'
        '<input type="text" id="type" hidden="hidden" value="'+repo.type+'">'+
        '<input type="text" id="pk" hidden="hidden" value="'+ repo.id +'">'+
        "<input type='text' id='pk_song' hidden='hidden'"+
             "value='"+ repo.id +"'>"+
        "<input type='text' id='title_song' hidden='hidden'"+
         "value='"+ repo.text +"'>"+
        "<input type='text' id='artist_song' hidden='hidden'"+
         "value='"+ repo.artist +"'>"+
        "<input type='text' id='url_song' hidden='hidden'"+
         "value='"+ repo.mp3 +"'>"+
        "<input type='text' id='image_song' hidden='hidden'"+
         "value='"+ repo.poster +"'>"+
        "<input type='text' id='free_song' hidden='hidden'"+
         "value='"+ repo.free +"'>"+        
      '</div>';
    markup += '</div></div> </a>';
    return markup;
   }

  function formatSelected(repo){
      return '<div class="span6">'+ repo.text +'</div>';
  }

  var search = $('.find-field').select2({
    placeholder: "Buscar",
    ajax: {
      url: url_search,
      dataType: 'json',
      delay: 50,
      type: "POST",
      data: function (term, page) {
        return {
          name: term
        };
      },
      results: function (data, page) {
        return {
          results: data
        };
      },
      cache: true
    },
    escapeMarkup: function (markup) { return markup; },
    minimumInputLength: 1,
    formatResult: repoFormatResult,
    formatSelection: formatSelected,
  });

  search.on('select2-selecting', function(e){
    var type = e.choice;
    console.log("yessss", type);
    var pk = $('#pk').val();
    if ('song' === type.type){
      global_add_song(type);
    }
    if('genre' == type.type){
      var url = "/genres/"+type.slug;
      $("html, body").animate({ scrollTop: 0 }, "slow");
      $('#body-container').html(icon);
      $('#body-container').load(url);
    }
    if('artist' == type.type){
     var url = "/see_artist/"+type.id;
      $("html, body").animate({ scrollTop: 0 }, "slow");
      $('#body-container').html(icon);
      $('#body-container').load(url); 
    }
    
    console.log("type ", type);
  });
  $('.select2-arrow').hide();

/****************(E) Data Find by SEARCH ****************/ 

/**************(S) Delete playlist from profile ***********************/
  $(document).on('click', ".pk-del-album",function(){
    if (confirm("¿Realmente desea borrar la lista?")){
      var class_type = $(this).attr('class');
      var URL_SETTED;
      var DATA_SETTED;
      if(class_type.search(/\bpk-del-album\b/) > 0){
        console.log("deleting album");
        pk_album = $(this).data('del-album');        
        URL_SETTED = URL_delete_playlist;
        DATA_SETTED = {pk_album: pk_album};
        mess_empty_list ="No se pudo borrar tu lista!";
      }      
      $.ajax({
          type: 'POST',
          url: URL_SETTED,
          data: DATA_SETTED,
          async: false,
        })
        .done(function(res){
          $("html, body").animate({ scrollTop: 0 }, "slow");
          console.log("res.answer ", res.data);
          if(res.data === "false" ){
            create_message(mess_empty_list, $("#message_super"));
          }
          else{
            $('#body-container').html(icon);
            var panel = "{% url 'frontend:perfil' %}";
            $("#body-container").load(panel);
            $("html, body").animate({ scrollTop: 0 }, "slow");
            create_message("Borrado Correctamente!", $("#message_super")); 
          }
        })
        .fail(function(){
          console.log( "error" );
        })
        .always(function(){
          console.log( "finished" );
        });
    }
  });
/**************(E) Delete playlist from profile ***********************/
</script>
</body>
</html>