<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% if messages %}
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
   {% for message in messages %}
    <i class="fa fa-info-circle"></i>  <strong {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
  {% endfor %}
</div>
{% endif %}
<center>
  <div id="container-hispana">
    <div class="container">
      <div class="omb_login">
        <div class="row omb_row-sm-offset-3">
          <div class="col-xs-12 col-sm-6 changeHeight">
            <form class="loginForm"
                  action="{% url 'accounts:edit_profile' %}"
                  method="post">
              {% csrf_token %}

              <div class="input-group">
                <span class="input-group-addon">Actualiza tu Contraseña</span>
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input id="id_password"  type="password" class="form-control" name="password" placeholder="Contraseña">
                <input id="id_repassword"  type="password" class="form-control" name="repassword" placeholder="Confirmar Contraseña">
              </div>
              <span class="help-block"></span>

              <br><br>

              <div class="input-group btn-avatars-edit">
                <span class="input-group-addon">Haz Click Aqui para Seleccionar un Personaje</span>
              </div>
              <br>
              <div class="input-group active-avatars" style="margin-left:1.5%;">
                <ul class="bxslider">
                  <li data-avatar="1"><img src="{{ STATIC_URL }}/img/avatar1.jpg" /></li>
                  <li data-avatar="2"><img src="{{ STATIC_URL }}/img/avatar2.jpg" /></li>
                  <li data-avatar="3"><img src="{{ STATIC_URL }}/img/avatar3.jpg" /></li>
                  <li data-avatar="4"><img src="{{ STATIC_URL }}/img/avatar4.jpg" /></li>
                </ul>
              </div>
              <span class="help-block"></span>
              <input id="id_avatar" type="hidden" name="avatar">
              <input id="id_has_avatar" type="hidden" name="has_avatar" value="True">
              <br>

              <div class="input-group btn-images-edit">
                <span class="input-group-addon">Ó Haz Click Aqui para Seleccionar una Imagen Propia</span>
              </div>
              <br>
              <div class="input-group active-images">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                {{ form.picture }}
              </div>
              <span class="help-block"></span>

              <br><br><br>

              <button type="submit" class="btn btn-lg btn-primary btn-block update-info">Actualizar Información</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</center>

<style>
  @media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 15%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
  line-height: 300%;
}

.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg
  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
  opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}
.changeHeight{
  height: auto !important;
}

@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
    margin-top:10px;
  }
}
</style>

<script>
$(".active-images").hide();
// $(".active-avatars").hide();
$(".btn-images-edit").click(function(){
  $(".active-images").show();
  $(".active-avatars").hide();
  $("#id_has_avatar").val("False");
});
$(".btn-avatars-edit").click(function(){
  $(".active-avatars").show();
  $(".active-images").hide();
  $("#id_has_avatar").val("True");
});

$(document).ready(function(){
  $('.loginForm').ajaxForm(function(data){
    data = JSON.parse(data);
    if(data.status == 'success'){
      $('.img-navbar').attr('src', data.data.profile_image);
      ajax_message(data.message, data.status);
    } else {
      ajax_message(data.data.repassword[0], data.status);
    }
  });

  $('.bxslider').bxSlider({
    minSlides: 3,
    maxSlides: 4,
    slideWidth: 170,
    slideMargin: 10
  });

  $(".bxslider > li").click(function(){
    $(this).siblings().css({'border':'none'});
    $(this).css({'border':'3px #34495E solid'});
    var value = $(this).data('avatar');
    $('#id_avatar').val(value);
  });

  $("#list-menu a").hover(
        function() {
            $( this ).animate( {backgroundColor:"#2C3E50"}, 20 );
        }, function() {
            $( this ).animate( {backgroundColor:"#16A085"}, 20 );
        }
    );

    $("#fui-list").click(function() {
        if($("#sidebar-menu").css('left') == "0px"){
            $("#sidebar-menu").animate({left:-210})
            $(".bx-prev").show()
        }else{
            $("#sidebar-menu").animate({left:0})
            $(".bx-prev").hide()
        }
    })

    // top List hover (index.html)
    $("#top-list li").hover(
        function() {
            $( this ).animate( {backgroundColor:"#1abc9c", color:"#FFFFFF"}, 100 );
            $( this ).children('a').animate( { color:"#FFFFFF"}, 50 );
        }, function() {
            $( this ).animate( {backgroundColor:"transparent", color:"#000000"}, 100 );
            $( this ).children('a').animate( { color:"#34495e "}, 50 );
        }
    );
});
</script>
