{% load back_tags thumbnail %}

<script src="{{ STATIC_URL }}js/scripts.js"></script>

<div id="header-container">
    <div id="header-artis1">
        {% if artist.image %}
            <img src="{% thumbnail artist.image 135x160 crop='smart' %}" alt="">
        {% else %}
            <img class="img1" src="/static/img/artista.png" with="135" height="160" />
        {% endif %}
    </div>
    <div id="header-artis2">
        <h5>{{ artist.name }}</h5>
        <h1>Genero(s) : {{ artist.genre_set.all|clean_genres }}</h1>
        <div id="button-artis">        
          <a href="javascript:void(0)" data-see="{% url 'frontend:see_artist' artist.pk  %}" class="btn btn-block btn-lg btn-primary btn-max pk_artist see_artist"  >Ver</a>
          <a href="javascript:void(0)" class="btn btn-block btn-lg btn-primary btn-max pk_artist play" data-play="{{ artist.pk }}" >Play</a>
          <a data-video="{%  url 'frontend:videos' artist.pk %}"  href="javascript:void(0);" class="btn btn-block btn-lg btn-primary btn-max see_video">Videos</a>
        </div>

    </div>
</div>

<div id="galeria">
    {% for album in album_list %}
      <a href="javascript:void(0)" class="treasure pk_album" data-album-artist="{{ album.pk }}" data-artist-album-pk="{{ album.artist.pk }}" data-album-name="{{ album.name }}">
        <div class="galeriaImg">
            <div class="layer-galery">
                Escucha:
                {{ album.name }}
                <span id="play" class="fui-play"></span>
            </div>
            {% if album.image %}
                <img src="{% thumbnail album.image 50x50 %}" alt="">
            {% else %}
                <img class="img1" src="/static/img/artista.png" with="50" height="50" />
            {% endif %}
        </div>
      </a>
    {% endfor %}
</div>
<br>
<center>
  <ul class="pagination pagination-centered page-genre">
    {% if page_obj.has_previous %}
      <li><a href="javascript:void(0);" class="btn-page" data-page="{{ request.path }}?page=1">&lt;&lt;</a></li>
      <li><a href="javascript:void(0);" class="btn-page" data-page="{{ request.path }}?page={{ page_obj.previous_page_number }}">&lt;</a></li>
    {% endif %}

    {% for i in paginator.page_range %}
      <li {% if page_obj.number == i %} class="active" {% endif %}><a href="javascript:void(0);" class="btn-page" data-page="{{ request.path }}?page={{i}}">{{ i }}</a></li>
    {% endfor %}

    {% if page_obj.has_next %}
      <li><a href="javascript:void(0);" class="btn-page" data-page="{{ request.path }}?page={{ page_obj.next_page_number }}">></a></li>
      <li><a href="javascript:void(0);" class="btn-page" data-page="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">>></a></li>
    {% endif %}
  </ul>
</center>
<style type="text/css">
  .page-genre{
    background: #C2C7CB
  }
</style>
<script>
    $(document).on('click', '.see_video', function(){
        var href = $(this).data('video');
        $('#body-container').load(href);
        $("html, body").animate({ scrollTop: 0 }, "slow");
    });

</script>
