
<script src="{{ STATIC_URL }}js/jquery.bxslider.min.js"></script>
<script src="{{ STATIC_URL }}js/scripts.js"></script>

{% load online_status_tags %}
{% load thumbnail back_tags %}

<div id="container-index">
  <ul class="bxslider">
    {% for song in songs %}
          <li>
            <div class="over-layer song_current">
              {{ song.original_title }}
              <div class="play_image">
                <i class="fa fa-play-circle fa-6"></i>
              </div>
              {{ song.artist.name }}
              <input type="text" id="pk_song" hidden="hidden" value="{{ song.pk }}">
              <input type="text" id="title_song" hidden="hidden" value="{{ song.original_title|capfirst }}">
              <input type="text" id="artist_song" hidden="hidden" value="{{ song.artist.name|capfirst }}">
              <input type="text" id="url_song" hidden="hidden" value="{{ song.url }}">
              <input type="text" id="image_song" hidden="hidden" value="{{ song.artist.image }}">
              <input type="text" id="free_song" hidden="hidden" value="{{ song.show_ringtone }}">
            </div>
            {% if song.artist.image %}
            <img class="img1" src="{% thumbnail song.artist.image 200x300 crop='smart' %}" />
            {% else %}
              <img class="img1" src="/static/img/artista.png" width="350" height="195"/>
            {% endif%}
          </li>
    {% endfor %}
  </ul>
</div>
<br>
<!-- <center>
    <div id="banner-horizontal">
        728x90
    </div>
</center> -->

    <h2 class="discover" id="to_reproductor">Descubre!</h2>

    <div id="articles" class="row demo-tiles">
      {% for song_artist in song_artists %}
        <div class="article-genere">
          <div class="container-genere">
            {% if song_artist.image %}
              <img class="img" src="{% thumbnail song_artist.image 250x250 crop='smart' %}" alt="">
            {% else %}
              <img class="img1" src="/static/img/artista.png" width="250" height="250" />
            {% endif %}
            <br>
            <span class="name">{{ song_artist.name }}</span> <br>
            <span class="genere">Genero(s) :
              {{ song_artist.genres|clean_genres }}
             </span><br>
            <span class="repro">{{song_artist.number_repro}} Reproducciones</span>
            <br><br>
            <div id="controls-albums">
              <a href="javascript:void(0);" data-play="{{song_artist.pk}}" class="btn btn-block btn-lg btn-primary pk_artist play">
                Play
              </a>
              <a data-see="{% url 'frontend:see_artist' song_artist.pk %}"  href="javascript:void(0);" class="btn btn-block btn-lg btn-primary see_artist">Ver</a>
              <a data-video="{%  url 'frontend:videos' song_artist.pk %}" data-pk="{{ song_artist.pk }}"  href="javascript:void(0);" class="btn btn-block btn-lg btn-primary videos">Videos</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <br>
        <div id="activity">
            <div class="part">
                <h3>Lo más reproducido</h3>

                <ul id="top-list">
                  {% for song_artist in songs %}
                    <li>
                      <a href="javascript:void(0);" class="song_current">
                        <input type="text" id="pk_song" hidden="hidden" value="{{ song_artist.pk }}">
                        <input type="text" id="title_song" hidden="hidden" value="{{ song_artist.original_title|capfirst }}">
                        <input type="text" id="artist_song" hidden="hidden" value="{{ song_artist.artist.name|capfirst }}">
                        <input type="text" id="url_song" hidden="hidden" value="{{ song_artist.url }}">
                        <input type="text" id="image_song" hidden="hidden" value="{{ song_artist.artist.image }}">
                        <input type="text" id="free_song" hidden="hidden" value="{{ song_artist.show_ringtone }}">
                        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>  {{song_artist.artist.name}} - {{song_artist.original_title}} ({{ song_artist.number_of_reproduction }})
                      </a>
                    </li>
                    {% endfor %}
                </ul>

            </div>
            <div class="part">
                <h3>Actividades</h3>
                <div id="box-activity">
                    <div class="data">
                        <div class="text">Usuarios Registrados</div>
                        <div class="amount">{{num_user}}</div>
                    </div>
                    <div class="data">
                        <div class="text">Usuarios Conectados</div>
                        <div class="amount">{{ online_users }}</div>
                    </div>
                    <!-- <div class="ads-box">300x250</div> -->
                </div>
            </div>

        </div>
<!-- <script src="{{ STATIC_URL }}js/jquery.bxslider.min.js"></script>  -->

<script>
  URL_EXIST_VIDEO = /exist_videos_ajax/;
  DIV_MESSAGE = $("#message_super");

  $('.play').popover({      
    trigger:'hover',
    content:"Cargarás todas las canciones de este artista en el reproductor",
    placement:'top',
  });
  $('.videos').popover({
    trigger: 'hover',
    content:"Verás todos los videos de este artista",
    placement:'top',
  });

  $('.see_artist').popover({      
    trigger:'hover',
    content:"Verás el perfil de este artista",
    placement:'top',
  });

  /*$(document).on('click', '.see_artist', function(){
    var href = $(this).data('see');
    $('#body-container').load(href);
    $("html, body").animate({ scrollTop: 0 }, "slow");
  });  */
   
</script>