<link href="{{ STATIC_URL }}css/vendor/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/flat-ui.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/jPlayer.css" rel="stylesheet"> 
<link href="{{ STATIC_URL }}css/skin/pink.flag/css/jplayer.pink.flag.min.css" rel="stylesheet"> 
<link href="{{ STATIC_URL }}css/jquery.bxslider.css" rel="stylesheet"> 
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"> 

<script src="{{ STATIC_URL }}js/vendor/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>     
<script src="{{ STATIC_URL }}js/vendor/video.js"></script>
<script src="{{ STATIC_URL }}js/flat-ui.min.js"></script>   
<script src="{{ STATIC_URL }}js/jplayer/jquery.jplayer.min.js"></script>    
<script src="{{ STATIC_URL }}js/add-on/jplayer.playlist.min.js"></script>   
<script src="{{ STATIC_URL }}js/jquery.bxslider.min.js"></script>   

<script src="{{ STATIC_URL }}js/scripts.js"></script>  


<div id="container-index">
    <ul class="bxslider">
      
      <li>
      <div class="over-layer">
        Escuchar Its love fun
      </div>
      <a href="/its-ok-its-love/" class="featured" title="Its OK Its Love">
      <img src="{{ STATIC_URL }}img/imgSlider1.jpg"></a>
      </li>
      
      <li>
      <div class="over-layer">
        Escuchar Its love fun
      </div>
      <a href="/its-ok-its-love/" class="featured" title="Its OK Its Love">
      <img src="{{ STATIC_URL }}img/imgSlider2.jpg"></a>
      </li>

      <li>
      <div class="over-layer">
        Escuchar: <br> Its love fun
      </div>                
      <a href="/its-ok-its-love/" class="featured" title="Its OK Its Love">
      <img src="{{ STATIC_URL }}img/imgSlider1.jpg"></a>
      </li>

      <li>
      <div class="over-layer">
        Escuchar: <br> Its love fun
      </div>                
      <a href="/its-ok-its-love/" class="featured" title="Its OK Its Love">
      <img src="{{ STATIC_URL }}img/imgSlider2.jpg"></a>
      </li>

      <li>
      <div class="over-layer">
        Escuchar: <br> Its love fun
      </div>                
      <a href="/its-ok-its-love/" class="featured" title="Its OK Its Love">
      <img src="{{ STATIC_URL }}img/imgSlider1.jpg"></a>
      </li>

      <li>
      <div class="over-layer">
        Escuchar: <br> Its love fun
      </div>                
      <a href="/its-ok-its-love/" class="featured" title="Its OK Its Love">
      <img src="{{ STATIC_URL }}img/imgSlider2.jpg"></a>
      </li>

      <li>
      <div class="over-layer">
        Escuchar: <br> Its love fun
      </div>                
      <a href="/its-ok-its-love/" class="featured" title="Its OK Its Love">
      <img src="{{ STATIC_URL }}img/imgSlider2.jpg"></a>
      </li>

      <li>
      <div class="over-layer">
        Escuchar: <br> Its love fun
      </div>                
      <a href="/its-ok-its-love/" class="featured" title="Its OK Its Love">
      <img src="{{ STATIC_URL }}img/imgSlider1.jpg"></a>
      </li>


    </ul>        
</div>
<br>
<center>    
    <div id="banner-horizontal">
        728x90 
    </div>
</center>
    
    <h2 class="discover">Descubre!</h2>
    
    <div id="articles" class="row demo-tiles">
            <div class="article-genere">
            <img src="{{ STATIC_URL }}img/tile/ribbon.png" alt="ribbon" class="tile-hot-ribbon">
            <div class="container-genere">
                <img src="{{ STATIC_URL }}img/image.gif" alt="">
                <br>
                <span class="name">Laura Melo</span> <br>
                <span class="genere">Genero : Reggae</span><br>
                <span class="repro">122 reproducciones</span>
                <br><br>
                <div id="controls-albums">
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Play</a>
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Ver</a>
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">videos</a>
                </div>
            </div>
        </div>
        
        <div class="article-genere">
            <div class="container-genere">
                <img src="{{ STATIC_URL }}img/image.gif" alt="">
                <br>
                <span class="name">Laura Melo</span> <br>
                <span class="genere">Genero : Reggae</span><br>
                <span class="repro">122 reproducciones</span>
                <br><br>
                <div id="controls-albums">
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Play</a>
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Ver</a>
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">videos</a>
                </div>
            </div>
        </div>

        <div class="article-genere">
            <div class="container-genere">
                <img src="{{ STATIC_URL }}img/image.gif" alt="">
                <br>
                <span class="name">Laura Melo</span> <br>
                <span class="genere">Genero : Reggae</span><br>
                <span class="repro">122 reproducciones</span>
                <br><br>
                <div id="controls-albums">
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Play</a>
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Ver</a>
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">videos</a>
                </div>
            </div>
        </div>
        
        <div class="article-genere">
            <div class="container-genere">
                <img src="{{ STATIC_URL }}img/image.gif" alt="">
                <br>
                <span class="name">Laura Melo</span> <br>
                <span class="genere">Genero : Reggae</span><br>
                <span class="repro">122 reproducciones</span>
                <br><br>
                <div id="controls-albums">
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Play</a>
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Ver</a>
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">videos</a>
                </div>
            </div>
        </div>
        
        <div class="article-genere">
            <div class="container-genere">
                <img src="{{ STATIC_URL }}img/image.gif" alt="">
                <br>
                <span class="name">Laura Melo</span> <br>
                <span class="genere">Genero : Reggae</span><br>
                <span class="repro">122 reproducciones</span>
                <br><br>
                <div id="controls-albums">
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Play</a>
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Ver</a>
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">videos</a>
                </div>
            </div>
        </div>

        <div class="article-genere">
            <div class="container-genere">
                <img src="{{ STATIC_URL }}img/image.gif" alt="">
                <br>
                <span class="name">Laura Melo</span> <br>
                <span class="genere">Genero : Reggae</span><br>
                <span class="repro">122 reproducciones</span>
                <br><br>
                <div id="controls-albums">
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Play</a>
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Ver</a>
                    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">videos</a>
                </div>
            </div>
        </div>


      </div>

    
        <div id="activity">
            <div class="part">
                <h3>Lo mas reproducido</h3>

                <ul id="top-list">
                    <li><a href=""><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> 1 - Artista - Cancion 1</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> 2 - Artista - Cancion 2</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> 3 - Artista - Cancion 3</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> 4 - Artista - Cancion 4</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> 5 - Artista - Cancion 5</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> 6 - Artista - Cancion 6</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> 7 - Artista - Cancion 7</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> 8 - Artista - Cancion 8</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> 9 - Artista - Cancion 9</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> 10 - Artista - Cancion 10</a></li>                  
                </ul>

            </div>
            <div class="part">
                <h3>Actividades</h3>            
                <div id="box-activity">
                    <div class="data">
                        <div class="text">Usuarios Registrados</div>
                        <div class="amount">348</div>
                    </div>
                    <div class="data">
                        <div class="text">Usuarios Conectados</div>
                        <div class="amount">348</div>
                    </div>
                    <div class="ads-box">300x250</div>
                </div>  
            </div>
            
        </div>
<script src="{{ STATIC_URL }}js/jquery.bxslider.min.js"></script> 