<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
    <link href="{{ STATIC_URL }}css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/flat-ui.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jPlayer.css" rel="stylesheet"> 
    <link href="{{ STATIC_URL }}css/skin/pink.flag/css/jplayer.pink.flag.min.css" rel="stylesheet"> 
    <link href="{{ STATIC_URL }}css/jquery.bxslider.css" rel="stylesheet"> 
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"> 

		<script src="{{ STATIC_URL }}js/vendor/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>		
    <script src="{{ STATIC_URL }}js/vendor/video.js"></script>
    <script src="{{ STATIC_URL }}js/flat-ui.min.js"></script>	
    <script src="{{ STATIC_URL }}js/jplayer/jquery.jplayer.min.js"></script>	
    <script src="{{ STATIC_URL }}js/add-on/jplayer.playlist.min.js"></script>	
		<script src="{{ STATIC_URL }}js/jquery.bxslider.min.js"></script>	
    
    <script src="{{ STATIC_URL }}js/scripts.js"></script>	

</head>
<body>

	<div class="row demo-row">
	  <div class="col-xs-12">
	    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
	      
	      <div class="navbar-header">         
	      	<span id="fui-list" class="fui-list navbar-brand"></span>    
	        <a class="navbar-brand" href="#">  Hispana</a>
	      </div>
	      <div class="collapse navbar-collapse" id="navbar-collapse-01">
	        <ul class="nav navbar-nav navbar-right">
	          <li class="dropdown">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Antoño dias raymund <b class="caret"></b></a>
	            <span class="dropdown-arrow"></span>
	            <ul class="dropdown-menu">
	              <li><a href="#">Mi perfil</a></li>
	              <li><a href="#">Cerrar sesión</a></li>
	            </ul>
	          </li>
	          <li><img class="img-navbar" src="{{ STATIC_URL }}img/user.jpg" alt=""></li>
	         </ul>
	         <form class="navbar-form navbar-left" action="#" role="search">
	          <div class="form-group">
	            <div class="input-group">
	              <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
	              <span class="input-group-btn">
	                <button type="submit" class="btn"><span class="fui-search"></span></button>
	              </span>
	            </div>
	          </div>
	        </form>
	      </div>
	    </nav>
	  </div>
	</div>


	<div id="sidebar-menu">
		<div class="logo-container">
			<img class="logo" src="{{ STATIC_URL }}img/logo.png" alt="">
		</div>

		<ul id="list-menu">
			<li><a href="" class="selected"> <span class="fui-home"></span> Inicio</a></li>
			<li><a href=""> <span class="fui-gear"></span>Mi panel</a></li>
			<li><a href=""> <span class="fui-list-numbered"></span>Generos</a></li>
			<li><a href=""> <span class="fui-list-thumbnailed"></span>Artistas</a></li>
			<li><a href=""> <span class="fui-video"></span>Videos</a></li>
		</ul>
	</div>


<div id="container-hispana">

	<div id="body-container">	
		<div id="header-container">
			<div id="header-artis1">
				<img src="{{ STATIC_URL }}img/test2.jpg" alt="">
			</div>
			<div id="header-artis2">
				<h5>Laura Melos</h5>
				<h1>Genero : Reggaeton</h1>
				<div id="button-artis">
					<a href="#fakelink" class="btn btn-block btn-lg btn-primary btn-max">Reproducir</a>
					<a href="#fakelink" class="btn btn-block btn-lg btn-primary btn-max">Galeria</a>
					<a href="#fakelink" class="btn btn-block btn-lg btn-primary btn-max">Videos</a>
				</div>

			</div>

		</div>	

		<div id="biography">
			<div>
				<strong>Biografia :</strong> 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	
		<div class="row-artist">
			<div class="mid-row">
				<h5>Cuentas principales</h5>
				<div class="space"></div>
				<span class="tag label label-info label-max">Cantante 1</span> 
				<span class="tag label label-info label-max">Cantante 2</span> 
				<span class="tag label label-info label-max">Cantante 3</span> 
			</div>
			<div class="mid-row">
				<h5>Integrantes</h5>
				<div class="space"></div>
				<span class="tag label label-info label-max">Cantante 1</span> 
				<span class="tag label label-info label-max">Cantante 2</span> 
				<span class="tag label label-info label-max">Cantante 3</span> 
			</div>
		</div>
		
		<div class="row-artist" >
			<h5>Albunes</h5>
			<div class="mid-row">
				<div class="content-row">
					<div class="into-row">
						<ul id="list-albums"> 
							<li>
								<div class="class1list">Album1</div>
								<div class="class2list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Ver</a></div>
								<div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Reproducir</a></div>
							</li>
							<li>
								<div class="class1list">Album2</div>
								<div class="class2list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Ver</a></div>
								<div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Reproducir</a></div>
							</li>
							<li>
								<div class="class1list">Album1</div>
								<div class="class2list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Ver</a></div>
								<div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Reproducir</a></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="mid-row">
				<div class="content-row">
					<div class="into-row">
						<ul id="list-albums"> 
							<li>
								<div class="class1list">Album1</div>
								<div class="class2list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Ver</a></div>
								<div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Reproducir</a></div>
							</li>
							<li>
								<div class="class1list">Album2</div>
								<div class="class2list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Ver</a></div>
								<div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Reproducir</a></div>
							</li>
							<li>
								<div class="class1list">Album1</div>
								<div class="class2list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Ver</a></div>
								<div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Reproducir</a></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row-artist">
			<div class="mid-row">
				<h5>Ultimo Agregado</h5>
				<div class="content-row">
					<div class="into-row">
						<ul id="list-albums"> 
							<li>
								<div class="class1list">Album1</div>
								<div class="class2list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Ver</a></div>
								<div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Reproducir</a></div>
							</li>
							<li>
								<div class="class1list">Album2</div>
								<div class="class2list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Ver</a></div>
								<div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Reproducir</a></div>
							</li>
							<li>
								<div class="class1list">Album1</div>
								<div class="class2list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Ver</a></div>
								<div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Reproducir</a></div>
							</li>
						</ul>
					</div>
				</div>

				<h5>Artistas relacionados</h5>
				<div class="content-row">
					<div class="into-row">
						<ul id="list-albums"> 
							<li>
								<div class="class1list">Album1</div>
								<div class="class2list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Ver</a></div>
								<div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Reproducir</a></div>
							</li>
							<li>
								<div class="class1list">Album2</div>
								<div class="class2list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Ver</a></div>
								<div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Reproducir</a></div>
							</li>
							<li>
								<div class="class1list">Album1</div>
								<div class="class2list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Ver</a></div>
								<div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">Reproducir</a></div>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<div class="mid-row">
				<h5>Lo mas reproducido</h5>
				<div class="content-row">
					<div class="into-row">
						<ul id="list-albums"> 
							<li>
								<div class="class1list">Cancion1</div>
								<div class="class2list">1</div>
								<div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">+</a></div>
							</li>
							<li>
								<div class="class1list">Cancion1</div>
								<div class="class2list">2</div>
								<div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">+</a></div>
							</li>
							<li>
								<div class="class1list">Cancion1</div>
								<div class="class2list">3</div>
								<div class="class3list"><a href="#fakelink" class="btn btn-block btn-lg btn-inverse btn-max">+</a></div>
							</li>
						</ul>
					</div>
				</div>

				<br><br>
				<div class="ads-box">300x250</div>

			</div>	
		</div>
		
	</div>


	<div id="player-container">
		
		<div id="data-player">
			<img src="{{ STATIC_URL }}img/face.jpg" alt="">
			<div id="info-player">
				<div class="title">Nuestra Raza</div>
				<div class="artist">Laura Melo</div>
				<div class="options">
					<span class="tag label label-info">descargar</span>
					<span class="tag label label-info">ringtone</span>					
				</div>
			</div>

			<div class="donwload-ringtone">
				<a href="">Descargar Tono nuestra raza a tu movil</a>
			</div>
		</div>

		<div id="jquery_jplayer_1" class="jp-jplayer"></div>

		<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
			<div class="jp-type-playlist">
				<div class="jp-gui jp-interface">
					<div class="jp-volume-controls">
						<button class="jp-mute" role="button" tabindex="0">mute</button>
						<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
						<div class="jp-volume-bar">
							<div class="jp-volume-bar-value"></div>
						</div>
					</div>
					<div class="jp-controls-holder">
						<div class="jp-controls">
							<button class="jp-previous" role="button" tabindex="0">previous</button>
							<button class="jp-play" role="button" tabindex="0">play</button>
							<button class="jp-stop" role="button" tabindex="0">stop</button>
							<button class="jp-next" role="button" tabindex="0">next</button>
						</div>
						<div class="jp-progress">
							<div class="jp-seek-bar">
								<div class="jp-play-bar"></div>
							</div>
						</div>
						<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
						<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
						<div class="jp-toggles">
							<button class="jp-repeat" role="button" tabindex="0">repeat</button>
							<button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
						</div>
					</div>
				</div>
				<div class="jp-playlist">
					<ul>
						<li>&nbsp;</li>
					</ul>
				</div>
				<div class="jp-no-solution">
					<span>Update Required</span>
					To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
				</div>
			</div>
		</div>		
		<div id="letter-title">
			Llorando se fue
		</div>
		<div id="letter"><div>
	Cuando no la llamo
Siempre me hace reclamos
Discutimos, peleamos
Pero llego a casa en la noche
La molesto y arreglamos

Ah ah ah, ah ah ah
Peleamos, nos arreglamos
Nos mantenemos en esa pero nos amamos
Ay vamos
Ah ah ah, ah ah ah
Qué pena me daría
No tenerte en mi vida, vida mía, mami
Ah ah ah, ah ah ah
Peleamos, nos arreglamos
Nos mantenemos en esa pero nos amamos
Ay vamos
Ah ah ah, ah ah ah
Qué pena me daría
No tenerte en mi vida, vida mía
(Ay vamos)

No importa si estás lejos
Siempre te siento presente
Y estoy pendiente de tí frecuentemente
Cuando estoy en la calle
Resolviendo mis problemas
Es pa' nuestro futuro
Yo no sé por qué me celas
No soy un santo
Tampoco ando en cosas malas
Cuando no estoy contigo
Es porque ando con mis panas
Somos polos opuestos
Y por eso nos gustamos
Qué más le vamos a hacer
Si así nos enamoramos
Y ahí vamos

Ah ah ah, ah ah ah
Peleamos, nos arreglamos
Nos mantenemos en esa pero nos amamos
Ay vamos
Ah ah ah, ah ah ah
Qué pena me daría
No tenerte en mi vida, vida mía, mami

Todos los días yo la tengo que ver
Así peleemos primero, mi mujer
Mami, no me celes tanto
Que yo siempre me conmuevo con tu llanto
Nena, nena, tranquilícese...
Que en la calle a nadie besé
Yo solo tengo ojos pa' usted
Relájate, despreocúpate
Nena, nena, tranquilícese...
Que en la calle a nadie besé
Yo solo tengo ojos pa' usted
Relájate, despreocúpate
Que ahí vamos

Ah ah ah, ah ah ah
Peleamos, nos arreglamos
Nos mantenemos en esa pero nos amamos
Ay vamos
Ah ah ah, ah ah ah
Qué pena me daría
No tenerte en mi vida, vida mía, mami
Ay vamos

Nena, nena, tranquilícese...
(J Balvin... The Business men)
Que en la calle a nadie besé
(Sky Rompiendo el Bajo)
Nena, nena, tranquilícese...
(Mosty, Bull Nene)
Que en la calle a nadie besé
(Infinity Music, let go, Infinity)
Estamos rompiendo o no estamos rompiendo muchachos?
Ok, The Business
1, 2, 3...
Let's go!

			</div>
		</div>

	</div>
	

</div>


</body>
</html>