{% extends 'base.html' %}
{% block container %}
{% load thumbnail %}

<div id="body-container" >
 <div id="container-index">
  <ul class="bxslider">
  {% for song in songs %}
      <li>
      <div class="over-layer">
      {{ song.original_title }}
      </div>
      <img class="img1" src="{% thumbnail song.artist.image 223x300 crop='smart' %}" />
      </li>
  {% endfor %}
  </ul>
</div>

<br>
<center>
  <div id="banner-horizontal">
    728x90
  </div>
</center>

  <h2 class="discover">Descubre!</h2>

  <div id="articles" class="row demo-tiles">
    {% for song_artist in song_artists %}
    <div class="article-genere">
      <div class="container-genere">
        <img class="img" src="{% thumbnail song_artist.artist.image 100x100 crop='smart' %}" alt="">
        <br>
        <span class="name">{{song_artist.artist.name}}</span> <br>
        <span class="genere">Genero : {{song_artist.genre}}</span><br>
        <span class="repro">{{song_artist.number_of_reproduction}} reproducciones</span>
        <br><br>
        <div id="controls-albums">
          <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Play</a>
          <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Ver</a>
          <a href="#fakelink" class="btn btn-block btn-lg btn-primary">videos</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  <div id="activity">
    <div class="part">
      <h3>Lo mas reproducido</h3>

      <ul id="top-list">
       {% for song_artist in song_artists %}
        <li><a href=""><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>  {{song_artist.artist.name}} - {{song_artist.original_title}} </a></li>
      {% endfor %}
      </ul>

    </div>
    <div class="part">
      <h3>Actividades</h3>
      <div id="box-activity">
        <div class="data">
          <div class="text">Usuarios Registrados</div>
          <div class="amount">348</div>
        </div>
        <div class="data">
          <div class="text">Usuarios Conectados</div>
          <div class="amount">348</div>
        </div>
        <div class="ads-box">300x250</div>
      </div>

    </div>

  </div>
</div>

{% endblock %}
