{% extends 'base.html' %}
{% block container %}

<div id="body-container" >
</div>

<script>
  $(document).ready(function(){
        $("#body-container").load("{% url 'frontend:index' %}");
  });
</script>
{% endblock %}		