{% load thumbnail back_tags %}
{% if messages %}
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
   {% for message in messages %}
    <i class="fa fa-info-circle"></i>  <strong {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
  {% endfor %}
</div>
{% endif %}
<div id="profile-info">
  {% if user.userprofile.picture %}
  <div id="info-container1">
    <img src="{{ request.user.userprofile.get_picture|drop_media }}" alt="" width="170" height="170">
  </div>
  {% else %}
  <div id="info-container1">
    <img src="{{ STATIC_URL }}img/avatar{{ user.userprofile.avatar }}.jpg" alt="">
  </div>
  {% endif %}
  <br>

  <div id="info-container2">
    <div class="user-name">{{ request.user.username }}</div> <br>
    <div class="subscribe">Suscrito desde: {{ request.user.date_joined|date:"F d, Y" }}</div> <br>
    
    {% if not user.userprofile.picture %}
    <a href="javascript:void(0);" id="edit-profile" class="btn btn-block btn-lg btn-primary editar-perfil" data-edit="{% url 'accounts:edit_profile' %}">Editar perfil</a>
    {% endif %}
  </div>

  <div id="play-list">
    <div id="play-text">Mis Listas de Reproducción</div>
    <a id="new-list" href="javascript:void(0);" data-panel="{% url 'frontend:perfil' %}" data-user="{{ user.pk }}" class="btn btn-block btn-lg btn-inverse new_playlist">Crear Nueva</a>

    <div id="created-lists">
      <ul id="list-albums">
        {% if not canciones %}
        <li>
          <div class="lisText">No existen listas aún, crea una!</div>
        </li>
        {% endif %}
        {% for playlist,num_canciones in canciones %}
        <li>
          <div class="lisText">{{ playlist.name }} ( {{ num_canciones}} )</div>
          <div class="listplay"><a href="javascript:void(0);" data-album-artist="{{ playlist.pk }}" data-artist-album-pk="{{ user.pk }}" data-album-name="{{ playlist.name }}" class="btn btn-block btn-lg btn-inverse btn-max see_list">Ver</a></div>
          <div class="listplay"><a href="javascript:void(0);" data-album-artist="{{ playlist.pk }}" data-artist-album-pk="{{ user.pk }}" data-album-name="{{ playlist.name }}" class="btn btn-block btn-lg btn-inverse btn-max play_list pk_list">Play</a></div>
          <div class="listDelete"><a href="javascript:void(0);" data-del-album="{{ playlist.pk }}" class="btn btn-block btn-lg btn-inverse btn-max pk-del-album">Eliminar</a></div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row-artist">
    <div class="mid-row">
      <br>
      <br>
      <div class="ads-box">300x250</div>
    </div>
    <div class="mid-row">
      <br>
      <br>
      <div class="ads-box">300x250</div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.editar-perfil').click(function(){
    var editar = $(this).data('edit')
    $("#body-container").load(editar);
    $("html, body").animate({ scrollTop: 0 }, "slow");
    menu_go_left();
  })
</script>