<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hizpana</title>
    <link href="{{ STATIC_URL }}css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/flat-ui.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jPlayer.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/skin/pink.flag/css/jplayer.pink.flag.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jquery.bxslider.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

    <script src="{{ STATIC_URL }}js/vendor/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/video.js"></script>
    <script src="{{ STATIC_URL }}js/flat-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/jplayer/jquery.jplayer.min.js"></script>
    <script src="{{ STATIC_URL }}js/add-on/jplayer.playlist.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.bxslider.min.js"></script>
    <script src="{{ STATIC_URL }}js/scripts.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <script type="text/javascript">
    function menu_go_left()
    {
      $("#sidebar-menu").animate({left:-210});
      $(".bx-prev").hide();
    }

    $(document).ready(function(){
        $("#body-container").load("{% url 'frontend:index' %}");

      /******(S)links to all page inside depends the code html of base.html all links to not reload the page, and the music !!! ******/
      $('.navbar-brand').click(function(){
          $("#body-container").load("{% url 'frontend:index' %}");
          $("html, body").animate({ scrollTop: 0 }, "slow");
      });
      $('#genres_list').click(function(){
          $("#body-container").load("{% url 'frontend:genres' %}");
          $("html, body").animate({ scrollTop: 0 }, "slow");
          menu_go_left();        
      });
      $('#artists_list').click(function(){
          $("#body-container").load("{% url 'frontend:artists' %}");
          $("html, body").animate({ scrollTop: 0 }, "slow");
          menu_go_left();        
      });

      /******(E)links to all page inside depends the code html of base.html all links to not reload the page, and the music !!! ******/

    });
  </script>

</head>
<body>
    <div class="row demo-row">
      <div class="col-xs-12">
        <nav class="navbar navbar-inverse navbar-embossed" role="navigation">

          <div class="navbar-header">
            <span id="fui-list" class="fui-list navbar-brand"></span>
            <a class="navbar-brand" href="{% url 'frontend:index_main' %}" >  Hispana</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-right">
              <li >
              <a href="{% url 'accounts:login' %}" class="dropdown-toggle">
              Inicia Sesión
              </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>


    <div id="sidebar-menu">
        <div class="logo-container">
            <img class="logo" src="{{ STATIC_URL }}img/logo.png" alt="">
        </div>

    <ul id="list-menu">
      <li>
        <a href="javascript:void(0);" class="selected"> <span class="fui-home"></span>Inicio</a>
      </li>
      {% if request.user.is_authenticated %}
      <li>
        <a href="javascript:void(0);" id="my_profile"> <span class="fui-gear"></span>Mi panel</a>
      </li>
      {% endif %}
      <li>
        <a href="javascript:void(0);" id="genres_list"> <span class="fui-list-numbered"></span>Generos</a>
      </li>
            <li>
        <a  href="javascript:void(0);" id="artists_list"><span class="fui-list-thumbnailed"></span>Artistas</a>
      </li>
    </ul>
    </div>


<div id="container-hispana">

  <div class="container">

    <div class="omb_login">
    <h3 class="omb_authTitle">Registrate o <a href="{% url 'accounts:login' %}">Inicia Sesión </a></h3>

      <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-6 register">
          <form class="omb_loginForm" method="post">{% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-warning" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              {{ form.email }}
              {% if form.email.errors %}
              <div class="alert alert-warning" role="alert">
                  {{ form.email.errors }}
              </div>
              {% endif %}
            </div>
            <span class="help-block"></span>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              {{ form.password }}
              {% if form.password.errors %}
              <div class="alert alert-warning" role="alert">
                  {{ form.password.errors }}
              </div>
              {% endif %}
            </div>
            <span class="help-block"></span>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              {{ form.password_two }}
              {% if form.password_two.errors %}
              <div class="alert alert-warning" role="alert">
                  {{ form.password_two.errors }}
              </div>
              {% endif %}
            </div>
            <span class="help-block"></span>

            <div class="input-group">
              <span class="input-group-addon">Selecciona un Personaje</span>
            </div>

            <div class="input-group" style="margin-left:1.5%;">
              <ul class="bxslider">
                <li data-ava="1"><img src="{{ STATIC_URL }}/img/avatar1.jpg" /></li>
                <li data-ava="2"><img src="{{ STATIC_URL }}/img/avatar2.jpg" /></li>
                <li data-ava="3"><img src="{{ STATIC_URL }}/img/avatar3.jpg" /></li>
                <li data-ava="4"><img src="{{ STATIC_URL }}/img/avatar4.jpg" /></li>
              </ul>
            </div>
            <span class="help-block"></span>

            <div class="input-group">
              {{ form.avatars }}
              {% if form.avatars.errors %}
              <div class="alert alert-warning" role="alert">
                  {{ form.avatars.errors }}
              </div>
              {% endif %}
            </div>

            <br>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarte</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<br>
<footer>
    <div id="container-footer">
        <div class="parts">
            <div class="tittleFooter">Enlaces rapidos</div>
        </div>
        <div class="parts">
            <div class="tittleFooter">Acerca de:</div>
        </div>
        <div class="parts">
          <div class="tittleFooter">Buscanos en:</div>
          <div class="row">
            <div class="col-md-2">
              <a href="//www.facebook.com/" target="_blank">
                <img class="social-network" src="{{ STATIC_URL }}img/login/facebook-128.png">
              </a>
            </div>
            <div class="col-md-2">
              <a href="//www.twitter.com" target="_blank">
                <img class="social-network" src="{{ STATIC_URL }}img/login/twitter-128.png">
              </a>
            </div>
            <div class="col-md-2">
              <a href="//www.youtube.com/" target="_blank">
                <img class="social-network" src="{{ STATIC_URL }}img/login/youtube-128.png">
              </a>
            </div>
          </div>
        </div>
        <div class="line" style="height:20px;float:left;width:100%;">

        </div>
    </div>
</footer>

<style>
  @media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
  line-height: 300%;
}

.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg
  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
  opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}
.changeHeight{
  height: auto !important;
}
.register{
  height: auto !important;
}

@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
    margin-top:10px;
  }
}
</style>
<script>
$(document).ready(function(){
  $('.bxslider').bxSlider({
    minSlides: 3,
    maxSlides: 4,
    slideWidth: 170,
    slideMargin: 10
  });
  $(".bxslider > li").click(function(){
    parent = $(this).parent();
    var lis = parent.children();
    lis.css({'border':'0px black solid'});
    $(this).css({'border':'3px #34495E solid'});
    var value = $(this).data('ava');
    $('#avatars option').removeAttr('selected')
                        .filter('[value='+value+']')
                        .attr('selected', true);
  });

  $("#list-menu a").hover(
        function() {
            $( this ).animate( {backgroundColor:"#2C3E50"}, 20 );
        }, function() {
            $( this ).animate( {backgroundColor:"#16A085"}, 20 );
        }
    );

    $("#fui-list").click(function() {
        console.log( $("#sidebar-menu").css('left') )
        if($("#sidebar-menu").css('left') == "0px"){
            $("#sidebar-menu").animate({left:-210})
            $(".bx-prev").show()
        }else{
            $("#sidebar-menu").animate({left:0})
            $(".bx-prev").hide()
        }
    })

    // top List hover (index.html)
    $("#top-list li").hover(
        function() {
            $( this ).animate( {backgroundColor:"#1abc9c", color:"#FFFFFF"}, 100 );
            $( this ).children('a').animate( { color:"#FFFFFF"}, 50 );
        }, function() {
            $( this ).animate( {backgroundColor:"transparent", color:"#000000"}, 100 );
            $( this ).children('a').animate( { color:"#34495e "}, 50 );
        }
    );
});
</script>

</body>
</html>