<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ STATIC_URL }}css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/flat-ui.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jPlayer.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/skin/pink.flag/css/jplayer.pink.flag.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jquery.bxslider.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

    <script src="{{ STATIC_URL }}js/vendor/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/video.js"></script>
    <script src="{{ STATIC_URL }}js/flat-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/jplayer/jquery.jplayer.min.js"></script>
    <script src="{{ STATIC_URL }}js/add-on/jplayer.playlist.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.bxslider.min.js"></script>     
    <script src="{{ STATIC_URL }}js/scripts.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <script type="text/javascript">    
    function menu_go_left()
    {        
      $("#sidebar-menu").animate({left:-210});
      $(".bx-prev").hide(); 
    }

    $(document).ready(function(){                
        $("#body-container").load("{% url 'frontend:index' %}");

      /******(S)links to all page inside depends the code html of base.html all links to not reload the page, and the music !!! ******/
      $('.navbar-brand').click(function(){
          $("#body-container").load("{% url 'frontend:index' %}");
          $("html, body").animate({ scrollTop: 0 }, "slow");
      });    
      $('#genres_list').click(function(){
          $("#body-container").load("{% url 'frontend:genres' %}");
          $("html, body").animate({ scrollTop: 0 }, "slow");
          menu_go_left();        
      });
      $('#artists_list').click(function(){
          $("#body-container").load("{% url 'frontend:artists' %}");
          $("html, body").animate({ scrollTop: 0 }, "slow");
          menu_go_left();        
      });

      /******(E)links to all page inside depends the code html of base.html all links to not reload the page, and the music !!! ******/
      
    });
  </script>

</head>
<body>


    <div class="row demo-row">
      <div class="col-xs-12">
        <nav class="navbar navbar-inverse navbar-embossed" role="navigation">

          <div class="navbar-header">
            <span id="fui-list" class="fui-list navbar-brand"></span>
            <a class="navbar-brand" href="javascript:void(0);" >  Hispana</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-01">
            
          </div>
        </nav>
      </div>
    </div>


    <div id="sidebar-menu">
        <div class="logo-container">
            <img class="logo" src="{{ STATIC_URL }}img/logo.png" alt="">
        </div>

        <ul id="list-menu">
            <li>
        <a href="javascript:void(0);" class="selected"> <span class="fui-home"></span>Inicio</a>
      </li>
            <li>
        <a href="javascript:void(0);" id="my_profile"> <span class="fui-gear"></span>Mi panel</a>
      </li>
            <li>
        <a href="javascript:void(0);" id="genres_list"> <span class="fui-list-numbered"></span>Generos</a>
      </li>
            <li>
        <a  href="javascript:void(0);" id="artists_list"><span class="fui-list-thumbnailed"></span>Artistas</a>
      </li>

        </ul>
    </div>


    <div id="container-hispana">
      <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">           
        <div class="panel panel-back noti-box">
          <span class="icon-box bg-color-green">
              <i class="fa fa-bell"></i>
          </span>
            <div class="text-box" >
              <p class="main-text">La confirmación de tú registro fue enviada a tu correo electrónico.</p>
              <p class="text-muted">Por favor confirme su cuenta con el link enviado a su Correo!</p>
              <p class="text-muted">
              Tiempo para poder confirmar su cuenta <span style="font-weight: bold">5 días</span> desde el registro.
              </p>
              <hr />
              <p class="text-muted">
                <span class="text-muted color-bottom-txt"><i class="fa fa-edit"></i>
                     Revise su bandeja de correo con el que se registro, y acceda a el link enviado en el correo de confirmación.
                </span>
              </p>
            </div>
        </div>
      </div>
    </div>
    <br>
    
  </body>
</html>