{% load thumbnail back_tags %}
<script src="{{ STATIC_URL }}js/vendor/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.bxslider.min.js"></script>
<script src='{{ STATIC_URL }}js/bootstrap.min.js'></script>

<div id="header-container">
  <div id="header-artis1">
    {% if artist.image %}
      <img class="img" src="{% thumbnail artist.image 150x200 crop='smart' %}" alt="">
    {% else %}
      <img class="img1" src="/static/img/artista.png" width="135" height="160"/>
    {% endif%}
  </div>
  <div id="header-artis2">
    <h5>{{ artist.name }}</h5>
    <h1>Genero(s) :
    {{ genres|clean_genres }}    
    </h1>
    <div id="button-artis">          
      <a href="javascript:void(0);" data-play="{{artist.pk}}" class="btn btn-block btn-lg btn-primary btn-max pk_artist play">
      Play
    </a>
      <a href="javascript:void(0)" class="btn btn-block btn-lg btn-primary btn-max galery" data-pk="{{ artist.pk }}" data-galeria="{% url 'frontend:galeria' artist.pk %}">Galería</a>

      <a data-video="{% url 'frontend:videos' artist.pk %}" data-pk="{{ artist.pk }}"  href="javascript:void(0);" class="btn btn-block btn-lg btn-primary btn-max videos">Videos</a>
    </div>

  </div>

</div>

    <div id="biography">
      <div>
        <strong>Biografia :</strong>  {{ artist.biography }}
      </div>
    </div>

    {% if primmarys_peo %}
    <div class="row-artist">
      <div class="mid-row">
        <h5>Cantantes principales</h5>
        <div class="space"></div>
        {% for primarys in primmarys_peo %}
        <span class="tag label label-info label-max">{{ primarys }}</span>
        {% endfor %}
      </div>
      {% if secundary_peo %}
      <div class="mid-row">
        <h5>Integrantes</h5>
        <div class="space"></div>
        {% for secundary in secundary_peo %}
        <span class="tag label label-info label-max">{{ secundary }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="row-artist album-container">
      
      <br>
      <h5>Albums</h5>
      <div class="mid-row">
        <div class="content-row">
          <div class="into-row">
            <ul id="list-albums" class="list-albums-left">

            </ul>
          </div>
        </div>
      </div>
      <div class="mid-row">
        <div class="content-row">
          <div class="into-row">
            <ul id="list-albums" class="list-albums-right">
              
            </ul>
          </div>
        </div>
      </div>

        <ul class="pagination page-artist" style="left: 20% !important;">
          
        </ul>      
      <style type="text/css">
        .page-artist{
          background: #C2C7CB
        }
      </style>

    </div>

    <div class="row-artist">
      <div class="mid-row">
        <h5>Último Álbum Agregado</h5>
        <div class="content-row">
          <div class="into-row">
            <ul id="list-albums">
              {% for album in albums_ultimos %}
              <li>
                <div class="class1list">{{ album.name }}</div>
                <div class="class2list"><a href="javascript:void(0);" class="btn btn-block btn-lg btn-inverse btn-max see_album" 
                data-album-artist="{{ album.pk }}" data-artist-album-pk="{{ artist.pk }}" data-album-name="{{ album.name }}">Ver</a></div>
                <div class="class2list"><a href="javascript:void(0);" data-album-artist="{{ album.pk }}" data-artist-album-pk="{{ artist.pk }}" data-album-name="{{ album.name }}" class="btn btn-block btn-lg btn-inverse btn-max play_album pk_album">Play</a></div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <h5>Artistas relacionados</h5>
        <div class="content-row">
          <div class="into-row">
            <ul id="artist-relations-list">
              {% for artist, album in artist_and_albums %}
              <li>
                <div class="image-list">
                {% if artist.image %}
                  <img src="{% thumbnail artist.image 40x40 %}" alt="">
                {% else %}
                  <img class="img1" src="/static/img/artista.png" width="40" height="40"/>
                {% endif %}
                </div>
                <div class="info-artist-list">
                  <div class="artist-name">{{ artist.name }}</div>
                  <div class="artist-count">{{ album }} albums</div>
                  <div class="butttons-see">
                    <a href="javascript:void(0)" class="btn btn-block btn-lg btn-inverse btn-max btn-ver-art see_artist" data-see="{% url 'frontend:see_artist' artist.pk %}">Ver</a>
                    <a href="javascript:void(0)" class="btn btn-block btn-lg btn-inverse btn-max pk_artist play" data-play="{{ artist.pk }}">Play</a>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>
      <div class="mid-row">
        <h5>Lo más reproducido</h5>
        <div class="content-row">
          <div class="into-row">
            <ul id="list-albums">
              {% for song in song_reproduced %}
              <li>
                <div class="class1list">
                {{ song.original_title }}
                </div>
                <div class="class2list">
                {{ song.number_of_reproduction }}
                </div>
                <div class="class3list">
                  <a href="javascript:void(0)" class="btn btn-block btn-lg btn-inverse btn-max top_rated add_normal_popover {% if user.is_authenticated %}add_normal{% endif %}">
                  <input type="text" id="artist_plus_variable" hidden="hidden" value="{{ song.artist.name }}">
                  <input type="text" id="song_plus_variable" hidden="hidden" value="{{ song.original_title }}">                  
                  +
                  </a>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <br><br>
        <!-- <div class="ads-box">300x250</div>-->

      </div>
    </div>    
<script>
	var URL_EXIST_VIDEO = /exist_videos_ajax/;
	var URL_EXIST_GALERY = /exist_galery_ajax/;
  var URL_ALBUMS_BY_ARTIST = /get_albums_by_artists_ajax/;
  DIV_MESSAGE = $("#message_super");

  $('.add_normal_popover').popover({      
    trigger:'hover',
    {% if user.is_authenticated %}
    content:"Agrega esta canción a una lista de reproducción personalizada!",
    {% else %}
    content:"Inicia sesión para poder agregar esta canción a tus listas personalizadas!",
    {% endif %}
    placement:'top',
  });

	$('.play').popover({      
	  trigger:'hover',
	  content:"Cargarás todas las canciones de este artista en el reproductor",
	  placement:'top',
	});

	$('.videos').popover({      
	  trigger:'hover',
	  content:"Verás todos los videos de este artista",
	  placement:'top',
	});

	$('.galery').popover({      
	  trigger:'hover',
	  content:"Verás todos los albums del artista",
	  placement:'top',
	});

	$('.see_artist').popover({      
	  trigger:'hover',
	  content:"Verás el perfil de este artista",
	  placement:'top',
	});		

  var album = $('.album-container').data('album');
  var obj = $("#album-container").load(album);

  $(document).on('click', '.videos', function(){
    var pk = $(this).data('pk');
    $.ajax({
      type: 'POST',
      url: URL_EXIST_VIDEO,
      data: {pk_artist: pk},
      async: false,
    })
    .done(function(res) {    
      exist = res.data;
      if(exist == "full"){
        var href = $('.videos').data('video');
        $('#body-container').load(href);
        $("html, body").animate({ scrollTop: 0 }, "slow");
      }
      else{
        mmessage = "No existen videos para este artista!";
        create_message(mmessage, DIV_MESSAGE);
      }
      $('#load-icon').hide();
    })
    .fail(function() {
      console.log( "error" );
    })
    .always(function() {
      console.log( "finished" );
    });    
  });

	$(document).on('click', '.galery', function(){
    var pk = $(this).data('pk');
    $.ajax({
      type: 'POST',
      url: URL_EXIST_GALERY,
      data: {pk_artist: pk},
      async: false,
    })
    .done(function(res) {    
      exist = res.data;
      if(exist == "full"){
        var href = $('.galery').data('galeria');
        $('#body-container').load(href);
        $("html, body").animate({ scrollTop: 0 }, "slow");
      }
      else{
        mmessage = "No existe Galería para este artista!";
        create_message(mmessage, DIV_MESSAGE);
      }
      $('#load-icon').hide();
    })
    .fail(function() {
      console.log( "error" );
    })
    .always(function() {
      console.log( "finished" );
    });
  });

  /******************(S)ALBUMS FOR ARTIST ********************/
  function set_albums(pk_album, album_name){
    one_album = "<li>"+          
          "<div class='class1list'>"+ album_name +"</div>"+
          "<div class='class2list'><a href='javascript:void(0)'"+
          "class='btn btn-block btn-lg btn-inverse btn-max see_album'"+
          " data-album-artist="+ pk_album +
          " data-artist-album-pk={{ artist.pk }}"+
          " data-album-name="+ album_name +">Ver</a></div>" +
          "<div class='class3list'><a href='javascript:void(0)'"+
          "class='btn btn-block btn-lg btn-inverse btn-max pk_album'"+
          " data-album-artist="+ pk_album +
          " data-artist-album-pk={{ artist.pk }}"+
          " data-album-name="+ album_name +">Play</a>"+
          "</div></li>";
    return one_album;
  }

  function set_paginator(dict){
    var html_paginator = "";

    if(dict['has_previous']){
      html_paginator = html_paginator +
      "<li><a href='javascript:void(0);' class='btn btn-block btn-lg btn-"+
      "primary btn-page' data-page='1'>&lt;&lt;</a>"+
      "</li>"+
      "<li><a href='javascript:void(0);' class='btn btn-block btn-lg btn-"+
      "primary btn-page' data-page='"+ dict['previous_page_number'] +
      "'>&lt;</a></li>";
    }

    $.each(dict['page_range'], function(i){
      html_paginator = html_paginator +
      "<li ";
      if(parseInt(dict['number']) == parseInt(i+1)){
        html_paginator = html_paginator + "class='active'";
      }
      html_paginator = html_paginator +
      ">"+
      "<a href='javascript:void(0);' class='btn btn-block btn-lg btn-primary "+
      "btn-page' data-page='"+ (parseInt(i)+1) +"'>"+ (parseInt(i)+1) +"</a>"+
      "</li>";    
    });

    if(dict['has_next']){
      html_paginator = html_paginator + 
      "<li><a href='javascript:void(0);' class='btn btn-block btn-lg btn-"+
      "primary btn-page' data-page='"+dict['next_page_number'] +"'>></a></li>"+
      "<li><a href='javascript:void(0);' class='btn btn-block btn-lg btn-"+
      "primary btn-page' data-page='"+ dict['num_pages'] +"'>>></a></li>";
    }
    return html_paginator;
  }


  $(".list-albums-left").empty();
  $(".list-albums-right").empty();
  $(".page-artist").empty();
  $.ajax({
    type: 'POST',
    url: URL_ALBUMS_BY_ARTIST,
    data: {pk_artist: {{ artist.pk }}, page: 1},
    async: false,
  })
  .done(function(res) { 
    var albums1 = res.albums1;
    var albums2 = res.albums2;

    $.each(albums1, function(key,value){
      $(".list-albums-left").append(set_albums(value.pk, value.name));
    });
    $.each(albums2, function(key,value){
      $(".list-albums-right").append(set_albums(value.pk, value.name));
    });
    $(".page-artist").append(set_paginator(res));

  })
  .fail(function() {
    console.log( "error" );
  })
  .always(function() {
    console.log( "finished" );
  });

  $(document).on('click','.btn-page', function(){
    $(".list-albums-left").empty();
    $(".list-albums-right").empty();
    $(".page-artist").empty();    
    var page = $(this).data('page');
    
    $.ajax({
      type: 'POST',
      url: URL_ALBUMS_BY_ARTIST,
      data: {pk_artist: {{ artist.pk }}, page: page},
      async: false,
    })
    .done(function(res) { 
      var albums1 = res.albums1;
      var albums2 = res.albums2;

      $.each(albums1, function(key,value){
        $(".list-albums-left").append(set_albums(value.pk, value.name));
      });
      $.each(albums2, function(key,value){
        $(".list-albums-right").append(set_albums(value.pk, value.name));
      });
      $(".page-artist").append(set_paginator(res));

    })
    .fail(function() {
      console.log( "error" );
    })
    .always(function() {
      console.log( "finished" );
    });
  });
  /******************(E)ALBUMS FOR ARTIST ********************/


</script>
