<script src="{{ STATIC_URL }}js/vendor/video.js"></script>
<script src="{{ STATIC_URL }}js/scripts.js"></script>
<script src="{{ STATIC_URL }}js/jquery.bxslider.min.js"></script>
{% load thumbnail %}
<div id="header-container">
	<div id="header-artis1">
		{% if data_artist.artist.image %}
			<img src="{% thumbnail data_artist.artist.image 150x150 crop='smart' %}" alt="">
		{% else %}
			<img class="img1" src="/static/img/artista.png" width="150" height="150"/>
		{% endif%}
	</div>
	<div id="header-artis2">
		<h5>{{data_artist.artist.name}} </h5>
		<h1>Genero(s):
    {% for genre in genres %}
      {{ genre.name }},
    {% endfor %}
    </h1>
		<div id="button-artis">
			<a href="javascript:void(0);" data-play="{{data_artist.artist.pk}}" class="btn btn-block btn-lg btn-primary btn-max pk_artist play">
        Play
      </a>
      <a data-see="{% url 'frontend:see_artist' data_artist.artist.pk %}"  href="javascript:void(0);" class="btn btn-block btn-lg btn-primary btn-max see_artist">Ver</a>
			<a href="javascript:void(0)" class="btn btn-block btn-lg btn-primary btn-max galery" data-pk="{{ data_artist.artist.pk }}" data-galeria="{% url 'frontend:galeria' data_artist.artist.pk %}">Galería</a>
			
		</div>
	</div>
</div>

<div id="self-video" style="background-color:black !important">
	<ul class="bxsliderVideo">
		{% for video in video_artists %}
		  <li id="video{{ forloop.counter0 }}" class="video" >{{video.url|safe}}</li>
		{% endfor %}
	</ul>
</div>

<center class="btn-slider">
	<form class="form-inline">
		<div class="form-group">
			<div class="form-group" id="bx-pager"> </div>
			<div class="form-group" id="bx-pager_uno"> </div>
			<div class="form-group" id="bx-pager_dos"> </div>
		</div>
	</form>
</center>

<style>
	.bx-viewport{
		height: 407px !important;
	}
	.bx-wrapper{
		height: 407px !important;
	}
	#bx-pager{
		margin-top: 10px;
	}
	#bx-pager_uno{
		margin-top: 10px;
	}
	#bx-pager_dos{
		margin-top: 10px;
	}
</style>
<script>

URL_EXIST_GALERY = /exist_galery_ajax/;
DIV_MESSAGE = $("#message_super");

function create_thumbnails(iframe_var){
	var iframe_src = iframe_var.attr('src');
  var youtube_video_id = iframe_src.match(/youtube\.com.*(\?v=|\/embed\/)(.{11})/).pop();

  if (youtube_video_id.length == 11) {
      var video_thumbnail = $('<img src="//img.youtube.com/vi/'+youtube_video_id+'/1.jpg">');
      $('#bx-pager').append(video_thumbnail);
      var video_thumbnail = $('<img src="//img.youtube.com/vi/'+youtube_video_id+'/2.jpg">');
      $('#bx-pager_uno').append(video_thumbnail);
      var video_thumbnail = $('<img src="//img.youtube.com/vi/'+youtube_video_id+'/3.jpg">');
      $('#bx-pager_dos').append(video_thumbnail);

  }
}

$('.video').children("iframe").attr('width','100%');
$('.video').children("iframe").attr('height','400px');

slider = $('.bxsliderVideo').bxSlider({
  pagerCustom: '#bx-pager',
  onSliderLoad: function(){
		var current_slide = slider.getCurrentSlide();
  	var vari = "#video"+current_slide;
		var iframe_var = $(vari).children("iframe");
		create_thumbnails(iframe_var);
  },
  onSlideAfter: function(){
  	$('#bx-pager').html("");
  	$('#bx-pager_uno').html("");
  	$('#bx-pager_dos').html("");
		var current_slide = slider.getCurrentSlide();
  	var vari = "#video"+current_slide;
		var iframe_var = $(vari).children("iframe");
		create_thumbnails(iframe_var);
	}
});

$('.play').popover({      
	  trigger:'hover',
	  content:"Cargarás todas las canciones de este artista en el reproductor",
	  placement:'top',
	});

	$('.videos').popover({      
	  trigger:'hover',
	  content:"Verás todos los videos de este artista",
	  placement:'top',
	});

	$('.galery').popover({      
	  trigger:'hover',
	  content:"Verás todos los albums del artista",
	  placement:'top',
	});

	$('.see_artist').popover({      
	  trigger:'hover',
	  content:"Verás el perfil de este artista",
	  placement:'top',
	});	

	$(document).on('click', '.galery', function(){
		console.log("galery");
    var pk = $(this).data('pk');
    $.ajax({
      type: 'POST',
      url: URL_EXIST_GALERY,
      data: {pk_artist: pk},
      async: false,
    })
    .done(function(res) {    
      exist = res.data;
      if(exist == "full"){
        var href = $('.galery').data('galeria');
        $('#body-container').load(href);
        $("html, body").animate({ scrollTop: 0 }, "slow");
      }
      else{
        mmessage = "No existe Galería para este artista!";
        create_message(mmessage, DIV_MESSAGE);
      }
      $('#load-icon').hide();
    })
    .fail(function() {
      console.log( "error" );
    })
    .always(function() {
      console.log( "finished" );
    });
  });

</script>

