body{
  border: 0px black solid;
  width: 600;
  height: 400;
  font-size: 250%;
}
.title, .artist, .song{
  margin-top: 5%;
}
.add{
  margin-top: 30%;
  background: blue;
  padding:1%;
  color: white;
  height: 100px;
}