$sizeRight = 350px

body
	background #eff0f2
		
.navbar
	border-radius 0 !important	
	
.img-navbar
	border-radius 100%
	height 40px
	margin-top 5px
	width 40px

.fui-list.navbar-brand
	margin-left 5px
.row.demo-row
	margin-right 0	
	margin-left 0
	position fixed
	top 0
	width 100%
	z-index 99
	
.col-xs-12
	padding 0
	height 53px 
	
#sidebar-menu
	width 210px
	background #16A085
	position fixed
	top 53px
	bottom 0
	left -210px
	z-index 99

.logo-container	
	margin 0 auto		
	margin-top 10px	
	padding-top 8px
	background #ECF0F1
	border-radius 100%
	width 110px
	height 110px
		
.logo
	display block
	width 142px
	height 85px
	margin-left -13px
	
#list-menu
	padding 0 
	margin-top 20px
	list-style none
	li 
		height 48px
		width 210px 
		a 
			margin 0 auto
			width 190px
			height 46px
			line-height 46px
			display block
			font-size 14px	
			color white
			font-family Lato,Helvetica,Arial,sans-serif
			font-weight 700

			span
				margin-left 20px
				margin-right 15px

.selected
	background #2C3E50 !important	
	color white !important
	
#container-hispana
	width 96% 
	margin 0 auto
	margin-top 55px
	
#body-container
	float left

#player-container
	width $sizeRight + 10
	float left
	height 1370px

#jp_container_1
	margin 0 auto	
	
.jp-audio
	padding-top 16px !important
	width $sizeRight

.jp-controls-holder
	height 60px !important
	
.jp-volume-controls
	height 10px !important
	
.jp-volume-bar
	position relative !important
	margin 0 auto	
	top -5px !important

.bx-wrapper
	height 200px !important
	margin 0 !important
	margin-top 10px !important	
	
.bx-viewport 
	height 210px !important
	margin 0 auto

.bxslider li
	width 138px !important
	position relative
	img 
		width 130px
		border-radius 3px
.over-layer
	display none
	position absolute
	top 0
	right 8px
	left 0
	bottom 0
	background rgba(47,47,47,0.6)
	cursor pointer
	color white
	padding-top 20px
	text-align center
	
.bx-pager 
	display none	

.jp-playlist ul li div .add
	display inline-block 
	float right
	width 15px
	height 18px
	line-height 18px
	text-align center
	background #2f4154
	border-radius 5px
	cursor pointer
	
.jp-controls
	height 28px !important
	button
		height 28px
		
.jp-play, .jp-previous, .jp-stop, .jp-next
	text-indent initial !important
	font-size 14px
	color #1D0130

.jp-duration
	position absolute
	top 18px
	right 0px

.jp-current-time
	position absolute
	top 18px
	
.jp-progress
	margin 0 auto
	margin-top 10px	!important

.jp-toggles
	width ($sizeRight - 40) !important
	position absolute
	top 38px
	.jp-repeat
		float left
	.jp-shuffle
		float right
		
.bx-wrapper .bx-controls-direction a
	z-index 99
	display block !important
	
#data-player
	margin 0 auto
	margin-top 10px
	min-height 110px
	width $sizeRight
	background #2f4154
	padding-top 15px
	.donwload-ringtone
		text-align center
		font-size 14px
		color #16A085
		font-weight 600
	img
		width 86px
		height 86px
		margin-left 20px
	#info-player
		float right
		width ($sizeRight - 120)
		.title
			font-size 14px
			margin-left 8px
			margin-top 0px
			font-weight 700
			color #7F8C8D
		.artist
			font-size 12px	
			margin-left 8px		
			color #95A5A6	
		.options			
			margin-left 8px
			margin-top 10px
			text-align center
			span
				background-color #1abc9c
				font-size 11px
		#reproducir
			margin 0 auto
			margin-top 4px
			height 10px
			width 140px
			line-height 0px
			font-size 12px
			background #3a2a45
			color white

#letter-title
	width $sizeRight
	min-height 40px
	line-height 40px
	margin 0 auto
	margin-top 10px
	text-align center		
	background #1abc9c
	color white
	border-top-left-radius 10px
	border-top-right-radius 10px
#letter
	width ($sizeRight - 4)  
	margin 0 auto
	height 800px
	font-size 12px
	text-align center
	white-space pre-wrap
	white-space -moz-pre-wrap !important
	word-wrap break-word
	outline 2px solid #1abc9c
	color #34495e
	div
		height 800px
		overflow-y scroll
#banner-horizontal
	height 90px
	width 728px
	margin-top 13px
	background #1abc9c
	text-align center
	line-height 90px
	
.tile
	background white
	.tile-title
		font-size 14px
	p 
		font-size 14px 
	a
		color white	
		
#articles
	margin-left 0
	margin-right 0
	
.discover
	padding-top 20px
	margin-left 10px
	font-size 25px
	font-weight 600
	color #7F8C8D
	
#activity
	width 100%
	height 200px
	.part 
		width 50%
		float left
		height 100px
		h3 
			margin-top 0
			font-size 22px
			text-align center
/*
#top-list
	list-style none
	border 2px solid #1abc9c
	border-radius 5px
	padding 0
	margin 0
	li 
		margin-left 10px
		margin-right 10px
		margin-top 5px
		border-radius 4px
		font-size 14px
		border 1px solid #1abc9c
		a 
			color #34495E
			margin-left 10px
		&:last-child 
			margin-bottom 10px !important			
		&:first-child 
			margin-top 10px !important
*/

#top-list
	list-style none
	border 2px solid #1abc9c
	border-radius 5px
	padding 0
	margin 0
	li 
		margin-left 10px
		margin-right 10px
		margin-top 5px
		border-radius 4px
		font-size 14px
		height 25px
		a 
			color #34495e
			margin-left 10px
		&:last-child 
			margin-bottom 10px !important			
		&:first-child 
			margin-top 10px !important


#box-activity
	margin 0 auto
	padding-top 10px
	padding-bottom 10px
	width 96%
	border-radius 5px
	background #1abc9c
	.data 
		position relative
		height 26px
		color white
		font-weight 600
		.text 
			width 200px
			position absolute
			left 10px
		.amount
			width 50px
			position absolute
			right 0	
			
.ads-box
	margin 0 auto
	width 300px
	height 250px
	line-height 250px
	text-align center
	background white
	
// Index 2

#header-container
	width 100%
	height 190px
	#header-artis1
		width 30%
		float left
		img 
			display block
			margin 0 auto	
			margin-top 15px
	#header-artis2
		width 70%
		float left
		h5,h1 
			margin-left 10px
		#button-artis
			margin-top 10px
			.btn-max
				width 30%
				color white
				float left
				margin 0
				margin-left 10px
				padding 10px 0
.final
	width 100%
	height 1px 
	float left
	background red

.label-max
	background #1ABC9C
	padding 5px 15px
	vertical-align top
	font-size 12px
.space
	width 100%
	height 10px
#biography	
	margin-left 2% 
	width 96%
	border 2px solid #1ABC9C
	border-radius 5px
	div 
		margin 0 auto
		margin-top 10px
		margin-bottom 10px
		width 90%
		font-size 13px
		
.row-artist
	margin 0 auto
	width 96%
	.mid-row	
		width 50%
		margin 0 auto
		float left
		h5
			color #34495E
			font-size 14px
		.content-row
			width 98%
			border 2px solid #1ABC9C
			border-radius 5px
			.into-row
				margin  0 auto
				width 100%
	h5
		color #34495E
		font-size 14px
								
#list-albums
	list-style none
	margin 0
	padding 0
	li 
		border-bottom 1px solid #1ABC9C
		min-height 26px		
		.class1list
			float left 		
			width 60%	
			padding-left 5px
		.class2list
			float left
			width 15%
			text-align center
		.class3list
			float left
			width 25%
		.btn-max
			margin-top 2px
			font-size 12px
			color white
			width 80%
			padding 2px 0px !important
		&:last-child
			border-bottom none !important

.btn-max-tag
	color white !important
	display inline-block !important
	width auto !important
	margin-top 10px !important
	
#abc
	text-align center
	div
		margin-top 2px
		height 25px
		width 25px
		text-align center
		background #1ABC9C
		display inline-block
		color white	
		
.article-genere
	float left
	width 33.33%
	margin-top 10px
	position relative
	.container-genere
		width 94%
		background white
		padding-top 15px
		padding-bottom 15px
		border-radius 6px
		text-align center
		line-height 18px
		span 
			color #34495E
			&.name
				font-size 16px
				font-weight 600
			&.genere
				font-size 14px		
			&.repro
				font-size 14px
		img 
			display block
			margin 0 auto
	.tile-hot-ribbon
		position absolute
		right 15px
		top -5px

#buttons
	height 100px
	width 50px
	background red

#controls-albums
	a 
		width 25%
		padding 4px 0
		font-size 14px
		color white
		display inline-block
		margin-top 0px
		
 
center
	display none !important

#container-footer
	width 96%
	margin 0 auto;
footer
	background #2C3E50
	margin-top 150px
	width 100%
	margin-bottom 0px
	.parts
		width 33.3%
		float left
		.tittleFooter
			font-size 18px
			font-weight bold
			color white
		iframe
			display block
			margin 0 auto
			margin-top 20px
			
#container-hispana
	h5 
		padding-top 10px
		margin-top 10px !important

#profile-info
	margin-top 10px
			
#profile-info #info-container1
	float left
	width 30%
	img
		display block
		margin 0 auto
	
#profile-info #info-container2
	float left
	width 70%
	height 170px
	text-align center

.user-name
	color #2C3E50
	font-size 20px
.subscribe
	color #2C3E50
	
#edit-profile
	width 300px
	margin 0 auto
	color white
	
#play-list
	width 100%

#new-list
	height 30px
	width 150px;
	color white
	font-size 14px
	line-height 10px
	display inline-block
	margin-left 40px

#play-text
	display inline-block
	font-size 18px

#created-lists
	margin-top 10px
	border 2px solid #1ABC9C
	border-radius 5px
	
#list-albums li div
	display inline-block	

.lisText
	padding-left 5px
	width 65%

.listDelete
	width 10%

.listShow
	width 10%

.listplay
	width 10%
	
.galeriaImg
	float left
	width 140px
	margin-top 10px
	position relative
	img 
		display block
		width 90%
		border-radius 3px

.layer-galery
	display none
	position absolute
	top 0
	left 0
	right 14px
	bottom 0
	background rgba(17,17,17,0.7)
	color white
	text-align center
	border-radius 3px
	cursor pointer
		
.pagination		
	margin-left 170px
	
#play
	position absolute
	bottom 20px
	left 40%
	font-size 30px