<h2 class="discover">Generos</h2>
<div id="generos-tag">
  <a href="javascript:void(0);" class="btn btn-block btn-lg btn-info btn-max-tag btn-href" data-href="{% url 'frontend:genres' %}">Todos</a>
  {% for genre in genres %}
    <a href="javascript:void(0);" class="btn btn-block btn-lg btn-info btn-max-tag btn-href" data-href="{% url 'frontend:get_genre' genre.slug %}">{{ genre.name }}</a>
  {% endfor %}
</div>